In [1]:
import pandas as pd
dflist = pd.read_html('https://www.iposcoop.com/last-12-months/')
df = dflist[0]
df.head()

,Company,Symbol,Industry,Offer Date,Shares (millions),Offer Price,1st Day Close,Current Price,Return,SCOOP Rating
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O

In [2]:
df.rename(columns={"Offer Date":"date","Shares (millions)":"shares","Offer Price":"price","1st Day Close":"close","Current Price":"current_price","Return":"return"}, inplace=True)

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O

In [68]:
df4 = df
df4.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O

In [69]:
df.to_csv('IPOdata.csv')

In [70]:
company_list = df.Company.tolist()
# company_list

In [5]:
import requests
companies = []
for i in company_list:
    try:
        table = pd.read_html(f'https://www.iposcoop.com/ipo/{i}/')
        if table:
            companies.append(table[0])
    except: continue

In [6]:
headers = companies[0][0].tolist()

In [54]:
headers

['General Information',
 'Business:',
 'Industry:',
 'Employees:',
 'Founded:',
 'Contact Information',
 'Address',
 'Phone Number',
 'Web Address',
 'View Prospectus:',
 'Financial Information',
 'Market Cap',
 'Revenues',
 'Net Income',
 'IPO Profile',
 'Symbol',
 'Exchange',
 'Shares (millions):',
 'Price range',
 'Est. $ Volume',
 'Manager / Joint Managers',
 'CO-Managers',
 'Expected To Trade:',
 'Status:',
 'Quiet Period Expiration Date:',
 'Lock-Up Period Expiration Date:',
 'SCOOP Rating',
 'Rating Change']

In [55]:
dflist = []
for i in range(len(companies)):
    try:    
        data = companies[i][1].tolist()
        dflist.append(data)
    except:
        continue
#     print(type(data))
#     dflist.append(data)

In [97]:
df2 = pd.DataFrame(dflist)

In [98]:
df2.head(2)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,General Information,"We are a high-growth, mission-driven provider ...",FINANCE SERVICES,3094,2005,Contact Information,"2 Circle Star Way, San Carlos, CA 94070, US",(650) 810-8823,http://www.oportun.com,Oportun Financial,...,$15.00 - $15.00,$93.8 mil,"Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...",JMP Securities/ BTIG,9/26/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers
1,General Information,Peloton is the largest interactive fitness pla...,ELECTRONIC & OTHER ELECTRICAL EQUIPMENT (NO CO...,1800,2012,Contact Information,"125 West 25th Street, 11th Floor, New York, NY...",(866) 679-9129,http://www.onepeloton.com,Peloton Interactive,...,$29.00 - $29.00,$1160.0 mil,Goldman Sachs/ J.P. Morgan,BofA Merrill Lynch/ Barclays/ UBS Investment B...,9/26/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers

In [99]:
df2.columns = headers

In [100]:
df2.head(2)

,General Information,Business:,Industry:,Employees:,Founded:,Contact Information,Address,Phone Number,Web Address,View Prospectus:,...,Price range,Est. $ Volume,Manager / Joint Managers,CO-Managers,Expected To Trade:,Status:,Quiet Period Expiration Date:,Lock-Up Period Expiration Date:,SCOOP Rating,Rating Change
0,General Information,"We are a high-growth, mission-driven provider ...",FINANCE SERVICES,3094,2005,Contact Information,"2 Circle Star Way, San Carlos, CA 94070, US",(650) 810-8823,http://www.oportun.com,Oportun Financial,...,$15.00 - $15.00,$93.8 mil,"Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...",JMP Securities/ BTIG,9/26/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers
1,General Information,Peloton is the largest interactive fitness pla...,ELECTRONIC & OTHER ELECTRICAL EQUIPMENT (NO CO...,1800,2012,Contact Information,"125 West 25th Street, 11th Floor, New York, NY...",(866) 679-9129,http://www.onepeloton.com,Peloton Interactive,...,$29.00 - $29.00,$1160.0 mil,Goldman Sachs/ J.P. Morgan,BofA Merrill Lynch/ Barclays/ UBS Investment B...,9/26/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers

In [101]:
df.to_csv('IPOdataTwo.csv')

In [289]:
df6 = df2[["View Prospectus:","Address","Price range","Est. $ Volume"]]
df6.rename(columns={"View Prospectus:":"Company","Price range":"price_range","Est. $ Volume":"volume","Address":"address"}, inplace=True)
df6.head()

,Company,address,price_range,volume
0,Oportun Financial,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil
1,Peloton Interactive,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil
2,Datadog,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
3,Exagen,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
4,Ping Identity Holding,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil

In [118]:
df6

,Company,address,price_range,volume
0,Oportun Financial,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil
1,Peloton Interactive,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil
2,Datadog,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
3,Exagen,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
4,Ping Identity Holding,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil
5,Envista Holdings,"200 S. Kraemer Blvd., Building E, Brea, CA 928...",$22.00 - $22.00,$588.9 mil
6,IGM Biosciences,"325 E. Middlefield Road, Mountain View, CA 940...",$16.00 - $16.00,$175.0 mil
7,Alerus Financial,"401 Demers Avenue, Grand Forks, ND 58201, US",$21.00 - $21.00,$60.1 mil
8,Cloudflare,"101 Townsend Street, San Francisco, CA 94107, US",$15.00 - $15.00,$525.0 mil
9,Satsuma Pharmaceuticals,"400 Oyster Point Boulevard, Suite 221, South S...",$15.00 - $15.00,$82.5 mil
10,SpringWorks Therapeutics,"100 Washington Blvd., Stamford, CT 06902, US",$18.00 - $18.00,$162.0 mil
11,10x Genomics,"6230 Stoneridge Mall Road, Pleasanton, CA 9458...",$39.00 - $39.00,$390.0 mil
12,SmileDirectClub,"414 Union Street, Nashville, TN 37219, US",$23.00 - $23.00,$1346.4 mil
13,9F,"Jiufu Building, Rongxin Technology Center, Cha...",$9.50 - $9.50,$84.6 mil
14,InMode Ltd.,"Tavor Building, Sha’ar Yokneam, P.O. Box 533, ...",$14.00 - $14.00,$70.0 mil
15,AMTD International,"23/F Nexxus Building, 41 Connaught Road Centra...",$8.38 - $8.38,$174.0 mil
16,Dynatrace Holdings,"1601 Trapelo Road, Suite 116 Waltham, MA 02451...",$16.00 - $16.00,$569.8 mil
17,Sundial Growers,"#200, 919 – 11 Avenue SW, Calgary, Alberta, Ca...",$13.00 - $13.00,$143.0 mil
18,Blue Hat Interactive Entertainment Technology,"7th Floor, Building C, No. 1010 Anling Road, H...",$4.00 - $4.00,$8.0 mil
19,Wanda Sports Group,"9/F, Tower B, Wanda Plaza, 93 Jianguo Road, Ch...",$8.00 - $8.00,$190.4 mil
20,Castle Biosciences,"820 S. Friendswood Drive, Suite 201, Friendswo...",$16.00 - $16.00,$64.0 mil
21,Health Catalyst,"3165 Millrock Drive #400, Salt Lake City, UT 8...",$26.00 - $26.00,$182.0 mil
22,Livongo Health,"150 West Evelyn Avenue, Mountain View, Califor...",$28.00 - $28.00,$355.2 mil
23,ProSight Global,"412 Mt. Kemble Avenue, Suite 300, Morristown, ...",$14.00 - $14.00,$110.0 mil
24,Sunnova Energy International,"20 East Greenway Plaza, Suite 475, Houston, TX...",$12.00 - $12.00,$168.0 mil
25,Afya Limited,"Alameda Oscar Niemeyer, No. 119, Sala 504, Vil...",$19.00 - $19.00,$261.1 mil
26,Medallia,"575 Market Street, Suite 1850, San Francisco, ...",$21.00 - $21.00,$325.5 mil
27,Fulcrum Therapeutics,"26 Landsdowne Street, Cambridge, MA 02139, US",$16.00 - $16.00,$72.0 mil
28,Owl Rock Capital,"399 Park Avenue, 38th Floor New York, NY 10022...",$0.00 - $0.00,$172.5 mil
29,Phreesia,"432 Park Avenue South, 12th Floor , New York, ...",$18.00 - $18.00,$167.2 mil
...,...,...,...,...
105,Weidai Ltd.,"50/F, West Building, Fortune Finance Center, N...",$10.00 - $10.00,$45.0 mil
106,Vapotherm,"100 Domain Drive, Exeter, NH 03833, US",$14.00 - $14.00,$56.0 mil
107,Eton Pharmaceuticals,"21925 W. Field Parkway, Suite 235, Deer Park, ...",$6.00 - $6.00,$21.6 mil
108,CNFinance Holdings Limited,"44/F, Tower G, No.16 Zhujiang Dong Road, Tianh...",$7.50 - $7.50,$48.8 mil
109,Axonics Modulation Technologies,"26 Technology Drive, Irvine, CA 92618, US",$15.00 - $15.00,$120.0 mil
110,Orchard Rx Ltd.,"108 Cannon Street, London EC4N 6EU, United Kin...",$14.00 - $14.00,$200.0 mil
111,Twist Bioscience,"455 Mission Bay Boulevard South, Suite 545, Sa...",$14.00 - $14.00,$70.0 mil
112,Gamida Cell Ltd.,"5 Nahum Heftsadie St., Givaat Shaul, Jerusalem...",$8.00 - $8.00,$50.0 mil
113,Pintec Technology Holdings,"216, 2/F East Gate, Pacific Century Place, No....",$11.88 - $11.88,$44.3 mil
114,YETI Holdings,"5301 Southwest Parkway, Suite 200 Austin, TX 7...",$18.00 - $18.00,$288.0 mil
115,LogicBio Therapeutics,"610 Main Street, 3rd Floor, Cambridge, MA 0213...",$10.00 - $10.00,$70.0 mil
116,Niu Technologies,"No. 10 Wangjing Street, Building A, 11/F, Chao...",$9.00 - $9.00,$56.0 mil
117,SolarWinds,"7171 Southwest Parkway, Building 400, Austin, ...",$15.00 - $15.00,$387.5 mil
118,Osmotica Pharmaceuticals plc,"400 Crossing Boulevard, Bridgewater, NJ 08807, US",$7.00 - $7.00,$46.6 mil
119,PhaseBio Pharmaceuticals,"1 Great Valley Parkway, Suite 30, Malvern, PA ...",$5.00 - $5.00,$46.0 mil
120,Studio City International Holdings,"36/F, The Centrium, 60 Wyndham Street, Central...",$12.50 - $12.50,$359.4 mil
121,SI-BONE,"471 El Camino Real, Suite 101, Santa Clara, CA...",$15.00 - $15.00,$108.0 mil
122,Anaplan,"50 Hawthorne Street, San Francisco, CA 94105, US",$17.00 - $17.00,$248.0 mil
123,Equillium,"2223 Avenida de la Playa, Suite 108, La Jolla,...",$14.00 - $14.00,$65.4 mil
124,Allogene Therapeutics,"210 East Grand Avenue, South San Francisco, CA...",$18.00 - $18.00,$324.0 mil
125,Livent,"2929 Walnut Street, Philadelphia, PA, 19104, US",$17.00 - $17.00,$340.0 mil
126,Elastic N.V.,"800 West El Camino Real, Suite 350, Mountain V...",$36.00 - $36.00,$252.0 mil
127,Guardant Health,"505 Penobscot Drive, Redwood City, CA 94063, US",$19.00 - $19.00,$237.5 mil
128,Kodiak Sciences Inc.,"2631 Hanover Street, Palo Alto, CA 94304, US",$10.00 - $10.00,$90.0 mil
129,Upwork,"441 Logue Avenue, Mountain View, CA 94043, US",$15.00 - $15.00,$187.2 mil
130,CooTek (Cayman) Inc.,"Building 7, No. 2007 Hongmei Road, Xuhui Distr...",$12.00 - $12.00,$52.2 mil
131,Arvinas,"5 Science Park, 395 Winchester Ave., New Haven...",$16.00 - $16.00,$120.0 mil
132,LAIX Inc.,"3/F, Building B, No. 1687 Changyang Road, Yang...",$12.50 - $12.50,$71.9 mil
133,Ra Medical Systems,"2070 Las Palmas Drive, Carlsbad, CA 92011, US",$17.00 - $17.00,$66.3 mil
134,Urovant Sciences,"Suite 1, 3rd Floor, 11-12 St. James’s Square, ...",$14.00 - $14.00,$140.0 mil

In [119]:
df4

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O
5,Envista Holdings,NVST,Health Care,9/18/2019,26.8,$22.00,$27.95,$27.68,25.82%,S/O
6,IGM Biosciences,IGMS,Health Care,9/18/2019,10.9,$16.00,$24.30,$18.12,13.25%,S/O
7,Alerus Financial,ALRS,Financials,9/13/2019,2.9,$21.00,$22.00,$21.85,4.05%,S/O
8,Cloudflare,NET,Technology,9/13/2019,35.0,$15.00,$18.00,$19.55,30.33%,S/O
9,Satsuma Pharmaceuticals,STSA,Health Care,9/13/2019,5.5,$15.00,$16.90,$15.00,0.00%,S/O
10,SpringWorks Therapeutics,SWTX,Health Care,9/13/2019,9.0,$18.00,$22.63,$18.80,4.44%,S/O
11,10x Genomics,TXG,Health Care,9/12/2019,10.0,$39.00,$52.75,$49.99,28.18%,S/O
12,SmileDirectClub,SDC,Health Care,9/12/2019,58.5,$23.00,$16.67,$12.94,-43.74%,S/O
13,9F,JFU,Financials,8/15/2019,8.9,$9.50,$9.58,$10.97,15.47%,S/O
14,InMode Ltd.,INMD,Technology,8/8/2019,5.0,$14.00,$13.57,$26.48,89.14%,S/O
15,AMTD International,HKIB,Financials,8/5/2019,20.8,$8.38,$10.09,$8.96,6.92%,S/O
16,Dynatrace Holdings,DT,Technology,8/1/2019,35.6,$16.00,$23.85,$20.04,25.25%,S/O
17,Sundial Growers,SNDL,Health Care,8/1/2019,11.0,$11.00,$8.48,$4.45,-59.55%,S/O
18,Blue Hat Interactive Entertainment Technology,BHAT,Consumer Goods,7/26/2019,2.0,$4.00,$4.58,$3.57,-10.75%,S/O
19,Wanda Sports Group,WSG,Consumer Services,7/26/2019,23.8,$8.00,$5.16,$4.29,-46.38%,S/O
20,Castle Biosciences,CSTL,Health Care,7/25/2019,4.0,$16.00,$21.40,$19.92,24.50%,S/O
21,Health Catalyst,HCAT,Technology,7/25/2019,7.0,$26.00,$39.17,$31.65,21.73%,S/O
22,Livongo Health,LVGO,Health Care,7/25/2019,12.7,$28.00,$38.10,$17.89,-36.11%,S/O
23,ProSight Global,PROS,Financials,7/25/2019,7.9,$14.00,$17.07,$18.50,32.14%,S/O
24,Sunnova Energy International,NOVA,Consumer Services,7/25/2019,14.0,$12.00,$11.25,$11.65,-2.92%,S/O
25,Afya Limited,AFYA,Consumer Services,7/19/2019,13.7,$19.00,$24.09,$23.51,23.74%,S/O
26,Medallia,MDLA,Technology,7/19/2019,15.5,$21.00,$37.05,$29.50,40.48%,S/O
27,AssetMark Financial Holdings,AMK,Financials,7/18/2019,12.5,$22.00,$27.04,$27.13,23.32%,S/O
28,Fulcrum Therapeutics,FULC,Health Care,7/18/2019,4.5,$16.00,$13.50,$7.69,-51.94%,S/O
29,Owl Rock Capital Corp.,ORCC,Financials,7/18/2019,10.0,$15.30,$15.49,$16.29,6.47%,S/O
...,...,...,...,...,...,...,...,...,...,...
109,Weidai Ltd.,WEI,Financials,11/15/2018,4.5,$10.00,$10.25,$6.15,-38.50%,S/O
110,Vapotherm,VAPO,Health Care,11/14/2018,4.0,$14.00,$16.00,$9.17,-34.50%,S/O
111,Eton Pharmaceuticals,ETON,Health Care,11/13/2018,3.6,$6.00,$6.25,$6.33,5.50%,S/O
112,CNFinance Holdings Limited,CNF,Financials,11/7/2018,6.5,$7.50,$7.60,$5.70,-24.00%,S/O
113,Axonics Modulation Technologies,AXNX,Health Care,10/31/2018,8.0,$15.00,$14.98,$27.29,81.93%,S/O
114,Orchard Rx Ltd.,ORTX,Health Care,10/31/2018,14.3,$14.00,$14.00,$12.35,-11.79%,S/O
115,Twist Bioscience,TWST,Health Care,10/31/2018,5.0,$14.00,$14.00,$24.35,73.93%,S/O
116,Gamida Cell Ltd.,GMDA,Health Care,10/26/2018,6.3,$8.00,$8.44,$4.59,-42.63%,S/O
117,Pintec Technology Holdings,PT,Technology,10/25/2018,3.7,$11.88,$12.49,$1.37,-88.47%,S/O
118,YETI Holdings,YETI,Consumer Goods,10/25/2018,16.0,$18.00,$17.00,$28.43,57.94%,S/O
119,LogicBio Therapeutics,LOGC,Health Care,10/19/2018,7.0,$10.00,$11.50,$9.33,-6.70%,S/O
120,Niu Technologies,NIU,Consumer Goods,10/19/2018,7.0,$9.00,$8.65,$8.16,-9.33%,S/O
121,SolarWinds,SWI,Technology,10/19/2018,25.0,$15.00,$15.03,$19.11,27.40%,S/O
122,Osmotica Pharmaceuticals plc,OSMT,Health Care,10/18/2018,6.7,$7.00,$8.15,$3.96,-43.43%,S/O
123,PhaseBio Pharmaceuticals,PHAS,Health Care,10/18/2018,9.2,$5.00,$5.00,$4.55,-9.00%,S/O
124,Studio City International Holdings,MSC,Consumer Services,10/18/2018,28.8,$12.50,$15.50,$19.40,55.20%,S/O
125,SI-BONE,SIBN,Health Care,10/17/2018,7.2,$15.00,$20.06,$18.64,24.27%,S/O
126,Anaplan,PLAN,Technology,10/12/2018,15.5,$17.00,$24.30,$50.24,195.53%,S/O
127,Equillium,EQ,Health Care,10/12/2018,4.7,$14.00,$14.00,$3.80,-72.86%,S/O
128,Allogene Therapeutics,ALLO,Health Care,10/11/2018,18.0,$18.00,$25.00,$26.97,49.83%,S/O
129,Livent,LTHM,Basic Materials,10/11/2018,20.0,$17.00,$16.97,$6.58,-61.29%,S/O
130,Elastic N.V.,ESTC,Technology,10/5/2018,7.0,$36.00,$70.00,$84.97,136.03%,S/O
131,Guardant Health,GH,Health Care,10/4/2018,12.5,$19.00,$32.20,$63.40,233.68%,S/O
132,Kodiak Sciences Inc.,KOD,Health Care,10/4/2018,9.0,$10.00,$10.16,$14.21,42.10%,S/O
133,Upwork,UPWK,Technology,10/3/2018,12.5,$15.00,$21.18,$13.52,-9.87%,S/O
134,CooTek (Cayman) Inc.,CTK,Technology,9/28/2018,4.4,$12.00,$9.44,$5.00,-58.33%,S/O
135,Arvinas,ARVN,Health Care,9/27/2018,7.5,$16.00,$16.05,$23.54,47.13%,S/O
136,LAIX Inc.,LAIX,Consumer Services,9/27/2018,5.8,$12.50,$12.65,$4.35,-65.20%,S/O
137,Ra Medical Systems,RMED,Health Care,9/27/2018,3.9,$17.00,$20.00,$1.38,-91.88%,S/O
138,Urovant Sciences,UROV,Health Care,9/27/2018,10.0,$14.00,$11.65,$9.55,-31.79%,S/O

In [120]:
df7.to_csv('IPOdataThree.csv')

In [297]:
df7 = pd.merge(df4,df6,how="left", on="Company")
df7.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil

In [26]:
# df7['volume'] = df7['volume'].str.replace(r'\D', '')
df7.address[1]

'125 West 25th Street, 11th Floor, New York, NY 10001, US'

In [27]:
companies[5].T.iloc[1,:].tolist()

['General Information',
 'Envista is one of the largest global dental products companies with significant market positions in some of the most attractive segments of the dental products industry, including implants, orthodontics and digital imaging technologies. We develop, manufacture and market one of the most comprehensive portfolios of dental consumables, equipment and services to dental professionals covering an estimated 90% of dentists’ clinical needs for diagnosing, treating and preventing dental conditions as well as improving the aesthetics of the human smile. Our operating companies, Nobel Biocare Systems, Ormco and KaVo Kerr, serve more than 1 million dentists in over 150 countries through one of the largest commercial organizations in the dental products industry and through our dealer partners. Innovation is a core part of our strategy and we believe that in 2018, our research and development expenditure of $172 million was one of the highest R&D spends in the dental products industry. Our business is deeply rooted in the Danaher operating culture, with an executive officer team that has over 50 collective years of service with Danaher leading a team of over 12,000 employees. In 2018, we generated total sales of $2,845 million, of which approximately 70% were derived from sales of consumables, services and spare parts.',
 'DENTAL EQUIPMENT & SUPPLIES',
 '12800',
 '2018',
 'Contact Information',
 '200 S. Kraemer Blvd., Building E, Brea, CA 92821, US',
 '(714) 817-7000',
 'http://www.envistaco.com',
 'Envista Holdings',
 'Financial Information',
 '$6215.1mil',
 '$2810.3 mil (last 12 months)',
 '$214.7 mil (last 12 months)',
 'IPO Profile',
 'NVST',
 'NYSE',
 '26.8',
 '$22.00 - $22.00',
 '$588.9 mil',
 'J.P. Morgan/ Goldman Sachs/ Morgan Stanley',
 'Baird/ Evercore ISI/ Jefferies/ BofA Merrill Lynch/ Credit Suisse/ Stifel/ William Blair',
 '9/18/2019',
 'Priced',
 'Available only to Subscribers',
 'Available only to Subscribers',
 'Available only to Subscribers',
 'Available only to Subscribers']

In [31]:
df2 = pd.DataFrame(companies[0][1])

# df2.columns = [0]
df2

                                                    1
0                                 General Information
1   We are a high-growth, mission-driven provider ...
2                                    FINANCE SERVICES
3                                                3094
4                                                2005
5                                 Contact Information
6         2 Circle Star Way, San Carlos, CA 94070, US
7                                      (650) 810-8823
8                              http://www.oportun.com
9                                   Oportun Financial
10                              Financial Information
11                                          $427.3mil
12                        $548.4 mil (last 12 months)
13                         $10.0 mil (last 12 months)
14                                        IPO Profile
15                                               OPRT
16                                             NASDAQ
17                                                6.3
18                                    $15.00 - $15.00
19                                          $93.8 mil
20  Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...
21                               JMP Securities/ BTIG
22                                          9/26/2019
23                                             Priced
24                      Available only to Subscribers
25                      Available only to Subscribers
26                      Available only to Subscribers
27                      Available only to Subscribers

In [32]:
# df2.pivot()

In [33]:
df2.groupby(level=[0])
df2.append(companies[0][1])

,1,0,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,General Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"We are a high-growth, mission-driven provider ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FINANCE SERVICES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Contact Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"2 Circle Star Way, San Carlos, CA 94070, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,(650) 810-8823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,http://www.oportun.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Oportun Financial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Financial Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,$427.3mil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,$548.4 mil (last 12 months),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,$10.0 mil (last 12 months),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,IPO Profile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,OPRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NASDAQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,$15.00 - $15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,$93.8 mil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,JMP Securities/ BTIG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9/26/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Priced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Available only to Subscribers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Available only to Subscribers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Available only to Subscribers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Available only to Subscribers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"We are a high-growth, mission-driven provider ...",General Information,FINANCE SERVICES,3094,2005,Contact Information,"2 Circle Star Way, San Carlos, CA 94070, US",(650) 810-8823,http://www.oportun.com,Oportun Financial,...,$15.00 - $15.00,$93.8 mil,"Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...",JMP Securities/ BTIG,9/26/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers

In [34]:
df3 = pd.melt(df2)
df3

    variable                                              value
0          1                                General Information
1          1  We are a high-growth, mission-driven provider ...
2          1                                   FINANCE SERVICES
3          1                                               3094
4          1                                               2005
5          1                                Contact Information
6          1        2 Circle Star Way, San Carlos, CA 94070, US
7          1                                     (650) 810-8823
8          1                             http://www.oportun.com
9          1                                  Oportun Financial
10         1                              Financial Information
11         1                                          $427.3mil
12         1                        $548.4 mil (last 12 months)
13         1                         $10.0 mil (last 12 months)
14         1                                        IPO Profile
15         1                                               OPRT
16         1                                             NASDAQ
17         1                                                6.3
18         1                                    $15.00 - $15.00
19         1                                          $93.8 mil
20         1  Barclays/ J.P. Morgan/ Jefferies/ Keefe, Bruye...
21         1                               JMP Securities/ BTIG
22         1                                          9/26/2019
23         1                                             Priced
24         1                      Available only to Subscribers
25         1                      Available only to Subscribers
26         1                      Available only to Subscribers
27         1                      Available only to Subscribers

In [ ]:
df4 = df3.pivot(columns="value")
df4

In [36]:
df5.append

NameError: name 'df5' is not defined

In [37]:
table = pd.read_html("https://www.iposcoop.com/ipo/fiverr-international-ltd/")

In [38]:
type(companies)

list

<h2>Soup Scrape</h2>

In [39]:
from splinter import browser
from bs4 import BeautifulSoup
url = "https://www.iposcoop.com/last-12-months/"
browser.visit(url)

AttributeError: module 'splinter.browser' has no attribute 'visit'

In [40]:
link = browser.find_by_css("#DataTables_Table_0_next")

AttributeError: module 'splinter.browser' has no attribute 'find_by_css'

In [ ]:
import requests
companies = []
for i in company_list:

    table = pd.read_html(f'https://www.iposcoop.com/ipo/{i}/')
    if table:
        companies.append(table[0])
    else:
        print "error"

In [ ]:
len(companies)

### Additional Info by state

In [298]:
df7_ = df7
df7_.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil

In [300]:
df7_.dropna(inplace=True)
df7_

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil
5,Envista Holdings,NVST,Health Care,9/18/2019,26.8,$22.00,$27.95,$27.68,25.82%,S/O,"200 S. Kraemer Blvd., Building E, Brea, CA 928...",$22.00 - $22.00,$588.9 mil
6,IGM Biosciences,IGMS,Health Care,9/18/2019,10.9,$16.00,$24.30,$18.12,13.25%,S/O,"325 E. Middlefield Road, Mountain View, CA 940...",$16.00 - $16.00,$175.0 mil
7,Alerus Financial,ALRS,Financials,9/13/2019,2.9,$21.00,$22.00,$21.85,4.05%,S/O,"401 Demers Avenue, Grand Forks, ND 58201, US",$21.00 - $21.00,$60.1 mil
8,Cloudflare,NET,Technology,9/13/2019,35.0,$15.00,$18.00,$19.55,30.33%,S/O,"101 Townsend Street, San Francisco, CA 94107, US",$15.00 - $15.00,$525.0 mil
9,Satsuma Pharmaceuticals,STSA,Health Care,9/13/2019,5.5,$15.00,$16.90,$15.00,0.00%,S/O,"400 Oyster Point Boulevard, Suite 221, South S...",$15.00 - $15.00,$82.5 mil
10,SpringWorks Therapeutics,SWTX,Health Care,9/13/2019,9.0,$18.00,$22.63,$18.80,4.44%,S/O,"100 Washington Blvd., Stamford, CT 06902, US",$18.00 - $18.00,$162.0 mil
11,10x Genomics,TXG,Health Care,9/12/2019,10.0,$39.00,$52.75,$49.99,28.18%,S/O,"6230 Stoneridge Mall Road, Pleasanton, CA 9458...",$39.00 - $39.00,$390.0 mil
12,SmileDirectClub,SDC,Health Care,9/12/2019,58.5,$23.00,$16.67,$12.94,-43.74%,S/O,"414 Union Street, Nashville, TN 37219, US",$23.00 - $23.00,$1346.4 mil
13,9F,JFU,Financials,8/15/2019,8.9,$9.50,$9.58,$10.97,15.47%,S/O,"Jiufu Building, Rongxin Technology Center, Cha...",$9.50 - $9.50,$84.6 mil
14,InMode Ltd.,INMD,Technology,8/8/2019,5.0,$14.00,$13.57,$26.48,89.14%,S/O,"Tavor Building, Sha’ar Yokneam, P.O. Box 533, ...",$14.00 - $14.00,$70.0 mil
15,AMTD International,HKIB,Financials,8/5/2019,20.8,$8.38,$10.09,$8.96,6.92%,S/O,"23/F Nexxus Building, 41 Connaught Road Centra...",$8.38 - $8.38,$174.0 mil
16,Dynatrace Holdings,DT,Technology,8/1/2019,35.6,$16.00,$23.85,$20.04,25.25%,S/O,"1601 Trapelo Road, Suite 116 Waltham, MA 02451...",$16.00 - $16.00,$569.8 mil
17,Sundial Growers,SNDL,Health Care,8/1/2019,11.0,$11.00,$8.48,$4.45,-59.55%,S/O,"#200, 919 – 11 Avenue SW, Calgary, Alberta, Ca...",$13.00 - $13.00,$143.0 mil
18,Blue Hat Interactive Entertainment Technology,BHAT,Consumer Goods,7/26/2019,2.0,$4.00,$4.58,$3.57,-10.75%,S/O,"7th Floor, Building C, No. 1010 Anling Road, H...",$4.00 - $4.00,$8.0 mil
19,Wanda Sports Group,WSG,Consumer Services,7/26/2019,23.8,$8.00,$5.16,$4.29,-46.38%,S/O,"9/F, Tower B, Wanda Plaza, 93 Jianguo Road, Ch...",$8.00 - $8.00,$190.4 mil
20,Castle Biosciences,CSTL,Health Care,7/25/2019,4.0,$16.00,$21.40,$19.92,24.50%,S/O,"820 S. Friendswood Drive, Suite 201, Friendswo...",$16.00 - $16.00,$64.0 mil
21,Health Catalyst,HCAT,Technology,7/25/2019,7.0,$26.00,$39.17,$31.65,21.73%,S/O,"3165 Millrock Drive #400, Salt Lake City, UT 8...",$26.00 - $26.00,$182.0 mil
22,Livongo Health,LVGO,Health Care,7/25/2019,12.7,$28.00,$38.10,$17.89,-36.11%,S/O,"150 West Evelyn Avenue, Mountain View, Califor...",$28.00 - $28.00,$355.2 mil
23,ProSight Global,PROS,Financials,7/25/2019,7.9,$14.00,$17.07,$18.50,32.14%,S/O,"412 Mt. Kemble Avenue, Suite 300, Morristown, ...",$14.00 - $14.00,$110.0 mil
24,Sunnova Energy International,NOVA,Consumer Services,7/25/2019,14.0,$12.00,$11.25,$11.65,-2.92%,S/O,"20 East Greenway Plaza, Suite 475, Houston, TX...",$12.00 - $12.00,$168.0 mil
25,Afya Limited,AFYA,Consumer Services,7/19/2019,13.7,$19.00,$24.09,$23.51,23.74%,S/O,"Alameda Oscar Niemeyer, No. 119, Sala 504, Vil...",$19.00 - $19.00,$261.1 mil
26,Medallia,MDLA,Technology,7/19/2019,15.5,$21.00,$37.05,$29.50,40.48%,S/O,"575 Market Street, Suite 1850, San Francisco, ...",$21.00 - $21.00,$325.5 mil
28,Fulcrum Therapeutics,FULC,Health Care,7/18/2019,4.5,$16.00,$13.50,$7.69,-51.94%,S/O,"26 Landsdowne Street, Cambridge, MA 02139, US",$16.00 - $16.00,$72.0 mil
30,Phreesia,PHR,Consumer Services,7/18/2019,9.3,$18.00,$25.08,$25.41,41.17%,S/O,"432 Park Avenue South, 12th Floor , New York, ...",$18.00 - $18.00,$167.2 mil
31,DouYu International Holdings,DOYU,Technology,7/17/2019,67.4,$11.50,$11.50,$8.61,-25.13%,S/O,"Building F4, Optical Valley Software Park, Gua...",$11.50 - $11.50,$775.0 mil
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Weidai Ltd.,WEI,Financials,11/15/2018,4.5,$10.00,$10.25,$6.15,-38.50%,S/O,"50/F, West Building, Fortune Finance Center, N...",$10.00 - $10.00,$45.0 mil
110,Vapotherm,VAPO,Health Care,11/14/2018,4.0,$14.00,$16.00,$9.17,-34.50%,S/O,"100 Domain Drive, Exeter, NH 03833, US",$14.00 - $14.00,$56.0 mil
111,Eton Pharmaceuticals,ETON,Health Care,11/13/2018,3.6,$6.00,$6.25,$6.33,5.50%,S/O,"21925 W. Field Parkway, Suite 235, Deer Park, ...",$6.00 - $6.00,$21.6 mil
112,CNFinance Holdings Limited,CNF,Financials,11/7/2018,6.5,$7.50,$7.60,$5.70,-24.00%,S/O,"44/F, Tower G, No.16 Zhujiang Dong Road, Tianh...",$7.50 - $7.50,$48.8 mil
113,Axonics Modulation Technologies,AXNX,Health Care,10/31/2018,8.0,$15.00,$14.98,$27.29,81.93%,S/O,"26 Technology Drive, Irvine, CA 92618, US",$15.00 - $15.00,$120.0 mil
114,Orchard Rx Ltd.,ORTX,Health Care,10/31/2018,14.3,$14.00,$14.00,$12.35,-11.79%,S/O,"108 Cannon Street, London EC4N 6EU, United Kin...",$14.00 - $14.00,$200.0 mil
115,Twist Bioscience,TWST,Health Care,10/31/2018,5.0,$14.00,$14.00,$24.35,73.93%,S/O,"455 Mission Bay Boulevard South, Suite 545, Sa...",$14.00 - $14.00,$70.0 mil
116,Gamida Cell Ltd.,GMDA,Health Care,10/26/2018,6.3,$8.00,$8.44,$4.59,-42.63%,S/O,"5 Nahum Heftsadie St., Givaat Shaul, Jerusalem...",$8.00 - $8.00,$50.0 mil
117,Pintec Technology Holdings,PT,Technology,10/25/2018,3.7,$11.88,$12.49,$1.37,-88.47%,S/O,"216, 2/F East Gate, Pacific Century Place, No....",$11.88 - $11.88,$44.3 mil
118,YETI Holdings,YETI,Consumer Goods,10/25/2018,16.0,$18.00,$17.00,$28.43,57.94%,S/O,"5301 Southwest Parkway, Suite 200 Austin, TX 7...",$18.00 - $18.00,$288.0 mil
119,LogicBio Therapeutics,LOGC,Health Care,10/19/2018,7.0,$10.00,$11.50,$9.33,-6.70%,S/O,"610 Main Street, 3rd Floor, Cambridge, MA 0213...",$10.00 - $10.00,$70.0 mil
120,Niu Technologies,NIU,Consumer Goods,10/19/2018,7.0,$9.00,$8.65,$8.16,-9.33%,S/O,"No. 10 Wangjing Street, Building A, 11/F, Chao...",$9.00 - $9.00,$56.0 mil
121,SolarWinds,SWI,Technology,10/19/2018,25.0,$15.00,$15.03,$19.11,27.40%,S/O,"7171 Southwest Parkway, Building 400, Austin, ...",$15.00 - $15.00,$387.5 mil
122,Osmotica Pharmaceuticals plc,OSMT,Health Care,10/18/2018,6.7,$7.00,$8.15,$3.96,-43.43%,S/O,"400 Crossing Boulevard, Bridgewater, NJ 08807, US",$7.00 - $7.00,$46.6 mil
123,PhaseBio Pharmaceuticals,PHAS,Health Care,10/18/2018,9.2,$5.00,$5.00,$4.55,-9.00%,S/O,"1 Great Valley Parkway, Suite 30, Malvern, PA ...",$5.00 - $5.00,$46.0 mil
124,Studio City International Holdings,MSC,Consumer Services,10/18/2018,28.8,$12.50,$15.50,$19.40,55.20%,S/O,"36/F, The Centrium, 60 Wyndham Street, Central...",$12.50 - $12.50,$359.4 mil
125,SI-BONE,SIBN,Health Care,10/17/2018,7.2,$15.00,$20.06,$18.64,24.27%,S/O,"471 El Camino Real, Suite 101, Santa Clara, CA...",$15.00 - $15.00,$108.0 mil
126,Anaplan,PLAN,Technology,10/12/2018,15.5,$17.00,$24.30,$50.24,195.53%,S/O,"50 Hawthorne Street, San Francisco, CA 94105, US",$17.00 - $17.00,$248.0 mil
127,Equillium,EQ,Health Care,10/12/2018,4.7,$14.00,$14.00,$3.80,-72.86%,S/O,"2223 Avenida de la Playa, Suite 108, La Jolla,...",$14.00 - $14.00,$65.4 mil
128,Allogene Therapeutics,ALLO,Health Care,10/11/2018,18.0,$18.00,$25.00,$26.97,49.83%,S/O,"210 East Grand Avenue, South San Francisco, CA...",$18.00 - $18.00,$324.0 mil
129,Livent,LTHM,Basic Materials,10/11/2018,20.0,$17.00,$16.97,$6.58,-61.29%,S/O,"2929 Walnut Street, Philadelphia, PA, 19104, US",$17.00 - $17.00,$340.0 mil
130,Elastic N.V.,ESTC,Technology,10/5/2018,7.0,$36.00,$70.00,$84.97,136.03%,S/O,"800 West El Camino Real, Suite 350, Mountain V...",$36.00 - $36.00,$252.0 mil
131,Guardant Health,GH,Health Care,10/4/2018,12.5,$19.00,$32.20,$63.40,233.68%,S/O,"505 Penobscot Drive, Redwood City, CA 94063, US",$19.00 - $19.00,$237.5 mil
132,Kodiak Sciences Inc.,KOD,Health Care,10/4/2018,9.0,$10.00,$10.16,$14.21,42.10%,S/O,"2631 Hanover Street, Palo Alto, CA 94304, US",$10.00 - $10.00,$90.0 mil
133,Upwork,UPWK,Technology,10/3/2018,12.5,$15.00,$21.18,$13.52,-9.87%,S/O,"441 Logue Avenue, Mountain View, CA 94043, US",$15.00 - $15.00,$187.2 mil
134,CooTek (Cayman) Inc.,CTK,Technology,9/28/2018,4.4,$12.00,$9.44,$5.00,-58.33%,S/O,"Building 7, No. 2007 Hongmei Road, Xuhui Distr...",$12.00 - $12.00,$52.2 mil
135,Arvinas,ARVN,Health Care,9/27/2018,7.5,$16.00,$16.05,$23.54,47.13%,S/O,"5 Science Park, 395 Winchester Ave., New Haven...",$16.00 - $16.00,$120.0 mil
136,LAIX Inc.,LAIX,Consumer Services,9/27/2018,5.8,$12.50,$12.65,$4.35,-65.20%,S/O,"3/F, Building B, No. 1687 Changyang Road, Yang...",$12.50 - $12.50,$71.9 mil
137,Ra Medical Systems,RMED,Health Care,9/27/2018,3.9,$17.00,$20.00,$1.38,-91.88%,S/O,"2070 Las Palmas Drive, Carlsbad, CA 92011, US",$17.00 - $17.00,$66.3 mil
138,Urovant Sciences,UROV,Health Care,9/27/2018,10.0,$14.00,$11.65,$9.55,-31.79%,S/O,"Suite 1, 3rd Floor, 11-12 St. James’s Square, ...",$14.00 - $14.00,$140.0 mil

In [565]:
df7_.reset_index(inplace= True)

In [489]:
x=df7_.address[129]
x=x.replace('19104','PA 19104')
x

'2929 Walnut Street, Philadelphia, PA, PA 19104, US'

In [562]:
x=df7_.address[16]
z=[]
y=[]
y = x.split(', ')
y = y[-3]
z = y.split(' ')[-1]
print(y)
print(z)

Suite 116 Waltham
Waltham

In [570]:
x=df7_.address[56]
x

'55 Almaden Boulevard, 6th Floor San Jose, CA 95113, US'

In [577]:
x=df7_.address[56]
z=[]
y=[]
y = x.split(', ')[-3]
z = y.split(' ')[2]+' '+y.split(' ')[3]
#[-2:,2]
print(y)
print(z)

6th Floor San Jose
San Jose

In [552]:
x=df7_.address[106]
z=[]
y=[]
y = x.split(', ')[-3]
z = y.split(' ')[-1]
print(y)
print(z)

Suite 401 Richmond
Richmond

In [580]:
address = df7_.address
country = []
state = []
city = []
for a in address:
    a = a.replace('New York','NY')
    a = a.replace('60010','IL 60010')
    a = a.replace('19104','PA 19104')
    x = a.split(', ')
    print(x)
    country.append(x[len(x)-1].upper())
    state.append(x[len(x)-2][:2].upper())
    city.append(x[len(x)-3][:].upper())
    #print(x[len(x)-1],',',x[len(x)-2][:2])

['2 Circle Star Way', 'San Carlos', 'CA 94070', 'US']
['125 West 25th Street', '11th Floor', 'NY', 'NY 10001', 'US']
['620 8th Avenue', '45th Floor', 'NY', 'NY 10018', 'US']
['1261 Liberty Way', 'Suite C', 'Vista', 'CA 92081', 'US']
['1001 17th Street', 'Suite 100', 'Denver', 'CO 80202', 'US']
['200 S. Kraemer Blvd.', 'Building E', 'Brea', 'CA 92821', 'US']
['325 E. Middlefield Road', 'Mountain View', 'CA 94043', 'US']
['401 Demers Avenue', 'Grand Forks', 'ND 58201', 'US']
['101 Townsend Street', 'San Francisco', 'CA 94107', 'US']
['400 Oyster Point Boulevard', 'Suite 221', 'South San Francisco', 'CA 94080', 'US']
['100 Washington Blvd.', 'Stamford', 'CT 06902', 'US']
['6230 Stoneridge Mall Road', 'Pleasanton', 'CA 94588', 'US']
['414 Union Street', 'Nashville', 'TN 37219', 'US']
['1601 Trapelo Road', 'Suite 116 Waltham', 'MA 02451', 'US']
['820 S. Friendswood Drive', 'Suite 201', 'Friendswood', 'TX 77546', 'US']
['3165 Millrock Drive #400', 'Salt Lake City', 'UT 84121', 'US']
['150 West Evelyn Avenue', 'Mountain View', 'California 94041', 'US']
['412 Mt. Kemble Avenue', 'Suite 300', 'Morristown', 'NJ 07960', 'US']
['20 East Greenway Plaza', 'Suite 475', 'Houston', 'TX 77046', 'US']
['575 Market Street', 'Suite 1850', 'San Francisco', 'CA 94105', 'US']
['26 Landsdowne Street', 'Cambridge', 'MA 02139', 'US']
['432 Park Avenue South', '12th Floor ', 'NY', 'NY 10016', 'US']
['33 Arch Street', 'Suite 3110', 'Boston', 'MA 02110', 'US']
['1551 Eastlake Avenue East', 'Suite 200', 'Seattle', 'Washington 98102', 'US']
['421 Kipling Street', 'Palo Alto', 'CA 94301', 'US']
['3055 Lebanon Pike', 'Suite 1000', 'Nashville', 'TN 37214', 'US']
['35 Gatehouse Drive', 'A2', 'Waltham', 'MA 02451', 'US']
['100 Bellevue Parkway', 'Wilmington', 'DE 19809', 'US']
['3800 Golf Road', 'Suite 360', 'Rolling Meadows', 'Illinois 60008', 'US']
['170 Harbor Way', '3rd Floor', 'South San Francisco', 'CA 94080', 'US']
['500 Saginaw Drive', 'Redwood City', 'CA 94063', 'US']
['1330 O’Brien Drive', 'Menlo Park', 'CA 94025', 'US']
['430 East 29th Street', 'Suite 940', 'NY', 'NY 10016', 'US']
['1855 Griffin Road', 'Suite B-428', 'Dania Beach', 'FL 33004', 'US']
['37 East 18th Street', '7th Floor', 'NY', 'NY 10003', 'US']
['7000 Shoreline Court', 'Suite 350', 'South San Francisco', 'CA 94080', 'US']
['500 West Texas', 'Suite 1200', 'Midland', 'TX 79701', 'US']
['Radnor Corporate Center', 'Building One', 'Suite 200', '100 Matsonford Road', 'Radnor', 'PA 19087', 'US']
['475 Brannan Street', 'Suite 300', 'San Francisco', 'CA 94107', 'US']
['75 Columbia Avenue', 'Cedarhurst', 'NY 11516', 'US']
['340 Madison Avenue', '19th Floor', 'NY', 'NY 10173', 'US']
['1875 South Grant Street', 'Suite 750', 'San Mateo', 'CA 94402', 'US']
['840 Memorial Drive', 'Cambridge', 'MA 02139', 'US']
['269 East Grand Avenue', 'South San Francisco', 'CA 94080', 'US']
['715 South Street', 'Mayville', 'WS 53050', 'US']
['9000 Virginia Manor Road', 'Suite 200', 'Beltsville', 'MD 20705', 'US']
['5875 Trinity Parkway #300', 'Centreville', 'Virginia 20120', 'US']
['195 Church Street', '14th Floor', 'New Haven', 'CT 06510', 'US']
['1412 Centre Court Drive', 'Suite 402', 'Alexandria', 'LA 71301', 'US']
['6601 Bermuda Road', 'Las Vegas', 'NV 89119', 'US']
['1325 East El Segundo Blvd.', 'El Segundo', 'CA 90245', 'US']
['200 Minuteman Road. Andover', 'MA 01810', 'US']
['5914 W. Courtyard Drive', 'Suite 100', 'Austin', 'TX 78730', 'US']
['1095 Broken Sound Parkway', 'Suite 300', 'Boca Raton', 'FL 33487', 'US']
['350 Fifth Avenue', '72nd Floor', 'NY', 'NY 10118', 'US']
['505 Brannan Street', 'San Francisco', 'CA 94107', 'US']
['55 Almaden Boulevard', '6th Floor San Jose', 'CA 95113', 'US']
['10628 Science Center Drive', 'Ste. 225', 'San Diego', 'CA 92121', 'US']
['600 Townsend St.', 'Suite 200', 'San Francisco', 'CA 94103', 'US']
['15150 Avenue of Science', 'Suite 200', 'San Diego', 'California 92128', 'US']
['1213 Innsbruck Drive', 'Sunnyvale', 'CA 94089', 'US']
['1155 Battery Street San Francisco', 'CA 94111', 'US']
['5403 Betsy Ross Drive', 'Santa Clara', 'CA 95054', 'US']
['65 Hayden Avenue', 'Lexington', 'MA 02421', 'US']
['2906 Colorado Ave. Santa Monica', 'CA 90404', 'US']
['1 Rockefeller Plaza', 'Suite 1039', 'NY', 'NY 10020', 'US']
['201 Jones Road', 'Waltham', 'MA 02451', 'US']
['100 Binney Street', 'Suite 710', 'Cambridge', 'MA 02142', 'US']
['4000 Shoreline Court', 'Suite 250', 'South San Francisco', 'CA 94080', 'US']
['151 Oyster Point Boulevard', 'Suite 300', 'South San Francisco', 'CA 94080', 'US']
['111 W. 19th Street', '8th Floor', 'NY', 'NY 10011', 'US']
['200 Technology Square Cambridge', 'MA 02139', 'US']
['11099 N. Torrey Pines Road', 'Suite 290', 'La Jolla', 'CA 92037', 'US']
['11 S. 12th Street', 'Suite 401 Richmond', 'VA 23219', 'US']
['200 Clarendon Street', '37th Floor', 'Boston', 'MA 02116', 'US']
['100 Domain Drive', 'Exeter', 'NH 03833', 'US']
['21925 W. Field Parkway', 'Suite 235', 'Deer Park', 'IL', 'IL 60010', 'US']
['26 Technology Drive', 'Irvine', 'CA 92618', 'US']
['455 Mission Bay Boulevard South', 'Suite 545', 'San Francisco', 'CA 94158', 'US']
['5301 Southwest Parkway', 'Suite 200 Austin', 'TX 78735', 'US']
['610 Main Street', '3rd Floor', 'Cambridge', 'MA 02139', 'US']
['7171 Southwest Parkway', 'Building 400', 'Austin', 'TX 78735', 'US']
['400 Crossing Boulevard', 'Bridgewater', 'NJ 08807', 'US']
['1 Great Valley Parkway', 'Suite 30', 'Malvern', 'PA 19355', 'US']
['471 El Camino Real', 'Suite 101', 'Santa Clara', 'CA 95050', 'US']
['50 Hawthorne Street', 'San Francisco', 'CA 94105', 'US']
['2223 Avenida de la Playa', 'Suite 108', 'La Jolla', 'CA 92037', 'US']
['210 East Grand Avenue', 'South San Francisco', 'CA 94080', 'US']
['2929 Walnut Street', 'Philadelphia', 'PA', 'PA 19104', 'US']
['800 West El Camino Real', 'Suite 350', 'Mountain View', 'CA 94040', 'US']
['505 Penobscot Drive', 'Redwood City', 'CA 94063', 'US']
['2631 Hanover Street', 'Palo Alto', 'CA 94304', 'US']
['441 Logue Avenue', 'Mountain View', 'CA 94043', 'US']
['5 Science Park', '395 Winchester Ave.', 'New Haven', 'CT 06511', 'US']
['2070 Las Palmas Drive', 'Carlsbad', 'CA 92011', 'US']

In [582]:
city = []
for i, a in enumerate(df7_.address):
    x = a.split(', ')
    print(i, ":",x)
    if (i==76 or i==88 ) :
      city.append(x[len(x)-4].upper())
    elif (i==13 or i==79 or i == 73):
        z=[]
        y=[]
        y = x[-3]
        print('***')
        print(y)
        z = y.split(' ')[-1]
        print(z)
        city.append(z.upper())  
    elif i==56:
        z=[]
        y=[]
        y = x[-3]
        print('***')
        print(y)
        z = y.split(' ')[2]+' '+y.split(' ')[3]
        print(z)
        city.append(z.upper())        
    else:
      city.append(x[len(x)-3].upper())

0 : ['2 Circle Star Way', 'San Carlos', 'CA 94070', 'US']
1 : ['125 West 25th Street', '11th Floor', 'New York', 'NY 10001', 'US']
2 : ['620 8th Avenue', '45th Floor', 'New York', 'NY 10018', 'US']
3 : ['1261 Liberty Way', 'Suite C', 'Vista', 'CA 92081', 'US']
4 : ['1001 17th Street', 'Suite 100', 'Denver', 'CO 80202', 'US']
5 : ['200 S. Kraemer Blvd.', 'Building E', 'Brea', 'CA 92821', 'US']
6 : ['325 E. Middlefield Road', 'Mountain View', 'CA 94043', 'US']
7 : ['401 Demers Avenue', 'Grand Forks', 'ND 58201', 'US']
8 : ['101 Townsend Street', 'San Francisco', 'CA 94107', 'US']
9 : ['400 Oyster Point Boulevard', 'Suite 221', 'South San Francisco', 'CA 94080', 'US']
10 : ['100 Washington Blvd.', 'Stamford', 'CT 06902', 'US']
11 : ['6230 Stoneridge Mall Road', 'Pleasanton', 'CA 94588', 'US']
12 : ['414 Union Street', 'Nashville', 'TN 37219', 'US']
13 : ['1601 Trapelo Road', 'Suite 116 Waltham', 'MA 02451', 'US']
***
Suite 116 Waltham
Waltham
14 : ['820 S. Friendswood Drive', 'Suite 201', 'Friendswood', 'TX 77546', 'US']
15 : ['3165 Millrock Drive #400', 'Salt Lake City', 'UT 84121', 'US']
16 : ['150 West Evelyn Avenue', 'Mountain View', 'California 94041', 'US']
17 : ['412 Mt. Kemble Avenue', 'Suite 300', 'Morristown', 'NJ 07960', 'US']
18 : ['20 East Greenway Plaza', 'Suite 475', 'Houston', 'TX 77046', 'US']
19 : ['575 Market Street', 'Suite 1850', 'San Francisco', 'CA 94105', 'US']
20 : ['26 Landsdowne Street', 'Cambridge', 'MA 02139', 'US']
21 : ['432 Park Avenue South', '12th Floor ', 'New York', 'NY 10016', 'US']
22 : ['33 Arch Street', 'Suite 3110', 'Boston', 'MA 02110', 'US']
23 : ['1551 Eastlake Avenue East', 'Suite 200', 'Seattle', 'Washington 98102', 'US']
24 : ['421 Kipling Street', 'Palo Alto', 'CA 94301', 'US']
25 : ['3055 Lebanon Pike', 'Suite 1000', 'Nashville', 'TN 37214', 'US']
26 : ['35 Gatehouse Drive', 'A2', 'Waltham', 'MA 02451', 'US']
27 : ['100 Bellevue Parkway', 'Wilmington', 'DE 19809', 'US']
28 : ['3800 Golf Road', 'Suite 360', 'Rolling Meadows', 'Illinois 60008', 'US']
29 : ['170 Harbor Way', '3rd Floor', 'South San Francisco', 'CA 94080', 'US']
30 : ['500 Saginaw Drive', 'Redwood City', 'CA 94063', 'US']
31 : ['1330 O’Brien Drive', 'Menlo Park', 'CA 94025', 'US']
32 : ['430 East 29th Street', 'Suite 940', 'New York', 'New York 10016', 'US']
33 : ['1855 Griffin Road', 'Suite B-428', 'Dania Beach', 'FL 33004', 'US']
34 : ['37 East 18th Street', '7th Floor', 'New York', 'NY 10003', 'US']
35 : ['7000 Shoreline Court', 'Suite 350', 'South San Francisco', 'CA 94080', 'US']
36 : ['500 West Texas', 'Suite 1200', 'Midland', 'TX 79701', 'US']
37 : ['Radnor Corporate Center', 'Building One', 'Suite 200', '100 Matsonford Road', 'Radnor', 'PA 19087', 'US']
38 : ['475 Brannan Street', 'Suite 300', 'San Francisco', 'CA 94107', 'US']
39 : ['75 Columbia Avenue', 'Cedarhurst', 'NY 11516', 'US']
40 : ['340 Madison Avenue', '19th Floor', 'New York', 'NY 10173', 'US']
41 : ['1875 South Grant Street', 'Suite 750', 'San Mateo', 'CA 94402', 'US']
42 : ['840 Memorial Drive', 'Cambridge', 'MA 02139', 'US']
43 : ['269 East Grand Avenue', 'South San Francisco', 'CA 94080', 'US']
44 : ['715 South Street', 'Mayville', 'WS 53050', 'US']
45 : ['9000 Virginia Manor Road', 'Suite 200', 'Beltsville', 'MD 20705', 'US']
46 : ['5875 Trinity Parkway #300', 'Centreville', 'Virginia 20120', 'US']
47 : ['195 Church Street', '14th Floor', 'New Haven', 'CT 06510', 'US']
48 : ['1412 Centre Court Drive', 'Suite 402', 'Alexandria', 'LA 71301', 'US']
49 : ['6601 Bermuda Road', 'Las Vegas', 'NV 89119', 'US']
50 : ['1325 East El Segundo Blvd.', 'El Segundo', 'CA 90245', 'US']
51 : ['200 Minuteman Road. Andover', 'MA 01810', 'US']
52 : ['5914 W. Courtyard Drive', 'Suite 100', 'Austin', 'TX 78730', 'US']
53 : ['1095 Broken Sound Parkway', 'Suite 300', 'Boca Raton', 'FL 33487', 'US']
54 : ['350 Fifth Avenue', '72nd Floor', 'New York', 'NY 10118', 'US']
55 : ['505 Brannan Street', 'San Francisco', 'CA 94107', 'US']
56 : ['55 Almaden Boulevard', '6th Floor San Jose', 'CA 95113', 'US']
***
6th Floor San Jose
San Jose
57 : ['10628 Science Center Drive', 'Ste. 225', 'San Diego', 'CA 92121', 'US']
58 : ['600 Townsend St.', 'Suite 200', 'San Francisco', 'CA 94103', 'US']
59 : ['15150 Avenue of Science', 'Suite 200', 'San Diego', 'California 92128', 'US']
60 : ['1213 Innsbruck Drive', 'Sunnyvale', 'CA 94089', 'US']
61 : ['1155 Battery Street San Francisco', 'CA 94111', 'US']
62 : ['5403 Betsy Ross Drive', 'Santa Clara', 'CA 95054', 'US']
63 : ['65 Hayden Avenue', 'Lexington', 'MA 02421', 'US']
64 : ['2906 Colorado Ave. Santa Monica', 'CA 90404', 'US']
65 : ['1 Rockefeller Plaza', 'Suite 1039', 'New York', 'NY 10020', 'US']
66 : ['201 Jones Road', 'Waltham', 'MA 02451', 'US']
67 : ['100 Binney Street', 'Suite 710', 'Cambridge', 'MA 02142', 'US']
68 : ['4000 Shoreline Court', 'Suite 250', 'South San Francisco', 'CA 94080', 'US']
69 : ['151 Oyster Point Boulevard', 'Suite 300', 'South San Francisco', 'CA 94080', 'US']
70 : ['111 W. 19th Street', '8th Floor', 'New York', 'NY 10011', 'US']
71 : ['200 Technology Square Cambridge', 'MA 02139', 'US']
72 : ['11099 N. Torrey Pines Road', 'Suite 290', 'La Jolla', 'CA 92037', 'US']
73 : ['11 S. 12th Street', 'Suite 401 Richmond', 'VA 23219', 'US']
***
Suite 401 Richmond
Richmond
74 : ['200 Clarendon Street', '37th Floor', 'Boston', 'MA 02116', 'US']
75 : ['100 Domain Drive', 'Exeter', 'NH 03833', 'US']
76 : ['21925 W. Field Parkway', 'Suite 235', 'Deer Park', 'IL', '60010', 'US']
77 : ['26 Technology Drive', 'Irvine', 'CA 92618', 'US']
78 : ['455 Mission Bay Boulevard South', 'Suite 545', 'San Francisco', 'CA 94158', 'US']
79 : ['5301 Southwest Parkway', 'Suite 200 Austin', 'TX 78735', 'US']
***
Suite 200 Austin
Austin
80 : ['610 Main Street', '3rd Floor', 'Cambridge', 'MA 02139', 'US']
81 : ['7171 Southwest Parkway', 'Building 400', 'Austin', 'TX 78735', 'US']
82 : ['400 Crossing Boulevard', 'Bridgewater', 'NJ 08807', 'US']
83 : ['1 Great Valley Parkway', 'Suite 30', 'Malvern', 'PA 19355', 'US']
84 : ['471 El Camino Real', 'Suite 101', 'Santa Clara', 'CA 95050', 'US']
85 : ['50 Hawthorne Street', 'San Francisco', 'CA 94105', 'US']
86 : ['2223 Avenida de la Playa', 'Suite 108', 'La Jolla', 'CA 92037', 'US']
87 : ['210 East Grand Avenue', 'South San Francisco', 'CA 94080', 'US']
88 : ['2929 Walnut Street', 'Philadelphia', 'PA', '19104', 'US']
89 : ['800 West El Camino Real', 'Suite 350', 'Mountain View', 'CA 94040', 'US']
90 : ['505 Penobscot Drive', 'Redwood City', 'CA 94063', 'US']
91 : ['2631 Hanover Street', 'Palo Alto', 'CA 94304', 'US']
92 : ['441 Logue Avenue', 'Mountain View', 'CA 94043', 'US']
93 : ['5 Science Park', '395 Winchester Ave.', 'New Haven', 'CT 06511', 'US']
94 : ['2070 Las Palmas Drive', 'Carlsbad', 'CA 92011', 'US']

In [583]:
city

['SAN CARLOS',
 'NEW YORK',
 'NEW YORK',
 'VISTA',
 'DENVER',
 'BREA',
 'MOUNTAIN VIEW',
 'GRAND FORKS',
 'SAN FRANCISCO',
 'SOUTH SAN FRANCISCO',
 'STAMFORD',
 'PLEASANTON',
 'NASHVILLE',
 'WALTHAM',
 'FRIENDSWOOD',
 'SALT LAKE CITY',
 'MOUNTAIN VIEW',
 'MORRISTOWN',
 'HOUSTON',
 'SAN FRANCISCO',
 'CAMBRIDGE',
 'NEW YORK',
 'BOSTON',
 'SEATTLE',
 'PALO ALTO',
 'NASHVILLE',
 'WALTHAM',
 'WILMINGTON',
 'ROLLING MEADOWS',
 'SOUTH SAN FRANCISCO',
 'REDWOOD CITY',
 'MENLO PARK',
 'NEW YORK',
 'DANIA BEACH',
 'NEW YORK',
 'SOUTH SAN FRANCISCO',
 'MIDLAND',
 'RADNOR',
 'SAN FRANCISCO',
 'CEDARHURST',
 'NEW YORK',
 'SAN MATEO',
 'CAMBRIDGE',
 'SOUTH SAN FRANCISCO',
 'MAYVILLE',
 'BELTSVILLE',
 'CENTREVILLE',
 'NEW HAVEN',
 'ALEXANDRIA',
 'LAS VEGAS',
 'EL SEGUNDO',
 '200 MINUTEMAN ROAD. ANDOVER',
 'AUSTIN',
 'BOCA RATON',
 'NEW YORK',
 'SAN FRANCISCO',
 'SAN JOSE',
 'SAN DIEGO',
 'SAN FRANCISCO',
 'SAN DIEGO',
 'SUNNYVALE',
 '1155 BATTERY STREET SAN FRANCISCO',
 'SANTA CLARA',
 'LEXINGTON',
 '2906 COLORADO AVE. SANTA MONICA',
 'NEW YORK',
 'WALTHAM',
 'CAMBRIDGE',
 'SOUTH SAN FRANCISCO',
 'SOUTH SAN FRANCISCO',
 'NEW YORK',
 '200 TECHNOLOGY SQUARE CAMBRIDGE',
 'LA JOLLA',
 'RICHMOND',
 'BOSTON',
 'EXETER',
 'DEER PARK',
 'IRVINE',
 'SAN FRANCISCO',
 'AUSTIN',
 'CAMBRIDGE',
 'AUSTIN',
 'BRIDGEWATER',
 'MALVERN',
 'SANTA CLARA',
 'SAN FRANCISCO',
 'LA JOLLA',
 'SOUTH SAN FRANCISCO',
 'PHILADELPHIA',
 'MOUNTAIN VIEW',
 'REDWOOD CITY',
 'PALO ALTO',
 'MOUNTAIN VIEW',
 'NEW HAVEN',
 'CARLSBAD']

In [313]:
df7_["country"] = country
df7_["state"] = state

In [394]:
df7_.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume,country,state,volume_n,price_n
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil,US,CA,93.8,15.0
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil,US,NY,1160.0,29.0
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil,US,NY,648.0,27.0
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil,US,CA,50.0,14.0
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil,US,CO,187.5,15.0

In [586]:
df7_["city"] = city
df7_.head()

,level_0,index,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume,country,state,volume_n,price_n,city
0,0,0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil,US,CA,93.8,15.0,SAN CARLOS
1,1,1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil,US,NY,1160.0,29.0,NEW YORK
2,2,2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil,US,NY,648.0,27.0,NEW YORK
3,3,3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil,US,CA,50.0,14.0,VISTA
4,4,4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil,US,CO,187.5,15.0,DENVER

In [587]:
df7_.to_csv('IPOdataSplitCity.csv')

In [396]:
df7_=df7_.loc[df7_["country"]=="US"]
df7_["Company"].count()

95

In [397]:
df7_.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume,country,state,volume_n,price_n
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil,US,CA,93.8,15.0
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil,US,NY,1160.0,29.0
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil,US,NY,648.0,27.0
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil,US,CA,50.0,14.0
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil,US,CO,187.5,15.0

In [487]:
list_addr = df7_["address"].tolist()
list_addr

['2 Circle Star Way, San Carlos, CA 94070, US',
 '125 West 25th Street, 11th Floor, New York, NY 10001, US',
 '620 8th Avenue, 45th Floor, New York, NY 10018, US',
 '1261 Liberty Way, Suite C, Vista, CA 92081, US',
 '1001 17th Street, Suite 100, Denver, CO 80202, US',
 '200 S. Kraemer Blvd., Building E, Brea, CA 92821, US',
 '325 E. Middlefield Road, Mountain View, CA 94043, US',
 '401 Demers Avenue, Grand Forks, ND 58201, US',
 '101 Townsend Street, San Francisco, CA 94107, US',
 '400 Oyster Point Boulevard, Suite 221, South San Francisco, CA 94080, US',
 '100 Washington Blvd., Stamford, CT 06902, US',
 '6230 Stoneridge Mall Road, Pleasanton, CA 94588, US',
 '414 Union Street, Nashville, TN 37219, US',
 '1601 Trapelo Road, Suite 116 Waltham, MA 02451, US',
 '820 S. Friendswood Drive, Suite 201, Friendswood, TX 77546, US',
 '3165 Millrock Drive #400, Salt Lake City, UT 84121, US',
 '150 West Evelyn Avenue, Mountain View, California 94041, US',
 '412 Mt. Kemble Avenue, Suite 300, Morristown, NJ 07960, US',
 '20 East Greenway Plaza, Suite 475, Houston, TX 77046, US',
 '575 Market Street, Suite 1850, San Francisco, CA 94105, US',
 '26 Landsdowne Street, Cambridge, MA 02139, US',
 '432 Park Avenue South, 12th Floor , New York, NY 10016, US',
 '33 Arch Street, Suite 3110, Boston, MA 02110, US',
 '1551 Eastlake Avenue East, Suite 200, Seattle, Washington 98102, US',
 '421 Kipling Street, Palo Alto, CA 94301, US',
 '3055 Lebanon Pike, Suite 1000, Nashville, TN 37214, US',
 '35 Gatehouse Drive, A2, Waltham, MA 02451, US',
 '100 Bellevue Parkway, Wilmington, DE 19809, US',
 '3800 Golf Road, Suite 360, Rolling Meadows, Illinois 60008, US',
 '170 Harbor Way, 3rd Floor, South San Francisco, CA 94080, US',
 '500 Saginaw Drive, Redwood City, CA 94063, US',
 '1330 O’Brien Drive, Menlo Park, CA 94025, US',
 '430 East 29th Street, Suite 940, New York, New York 10016, US',
 '1855 Griffin Road, Suite B-428, Dania Beach, FL 33004, US',
 '37 East 18th Street, 7th Floor, New York, NY 10003, US',
 '7000 Shoreline Court, Suite 350, South San Francisco, CA 94080, US',
 '500 West Texas, Suite 1200, Midland, TX 79701, US',
 'Radnor Corporate Center, Building One, Suite 200, 100 Matsonford Road, Radnor, PA 19087, US',
 '475 Brannan Street, Suite 300, San Francisco, CA 94107, US',
 '75 Columbia Avenue, Cedarhurst, NY 11516, US',
 '340 Madison Avenue, 19th Floor, New York, NY 10173, US',
 '1875 South Grant Street, Suite 750, San Mateo, CA 94402, US',
 '840 Memorial Drive, Cambridge, MA 02139, US',
 '269 East Grand Avenue, South San Francisco, CA 94080, US',
 '715 South Street, Mayville, WS 53050, US',
 '9000 Virginia Manor Road, Suite 200, Beltsville, MD 20705, US',
 '5875 Trinity Parkway #300, Centreville, Virginia 20120, US',
 '195 Church Street, 14th Floor, New Haven, CT 06510, US',
 '1412 Centre Court Drive, Suite 402, Alexandria, LA 71301, US',
 '6601 Bermuda Road, Las Vegas, NV 89119, US',
 '1325 East El Segundo Blvd., El Segundo, CA 90245, US',
 '200 Minuteman Road. Andover, MA 01810, US',
 '5914 W. Courtyard Drive, Suite 100, Austin, TX 78730, US',
 '1095 Broken Sound Parkway, Suite 300, Boca Raton, FL 33487, US',
 '350 Fifth Avenue, 72nd Floor, New York, NY 10118, US',
 '505 Brannan Street, San Francisco, CA 94107, US',
 '55 Almaden Boulevard, 6th Floor San Jose, CA 95113, US',
 '10628 Science Center Drive, Ste. 225, San Diego, CA 92121, US',
 '600 Townsend St., Suite 200, San Francisco, CA 94103, US',
 '15150 Avenue of Science, Suite 200, San Diego, California 92128, US',
 '1213 Innsbruck Drive, Sunnyvale, CA 94089, US',
 '1155 Battery Street San Francisco, CA 94111, US',
 '5403 Betsy Ross Drive, Santa Clara, CA 95054, US',
 '65 Hayden Avenue, Lexington, MA 02421, US',
 '2906 Colorado Ave. Santa Monica, CA 90404, US',
 '1 Rockefeller Plaza, Suite 1039, New York, NY 10020, US',
 '201 Jones Road, Waltham, MA 02451, US',
 '100 Binney Street, Suite 710, Cambridge, MA 02142, US',
 '4000 Shoreline Court, Suite 250, South San Francisco, CA 94080, US',
 '151 Oyster Point Boulevard, Suite 300, South San Francisco, CA 94080, US',
 '111 W. 19th Street, 8th Floor, New York, NY 10011, US',
 '200 Technology Square Cambridge, MA 02139, US',
 '11099 N. Torrey Pines Road, Suite 290, La Jolla, CA 92037, US',
 '11 S. 12th Street, Suite 401 Richmond, VA 23219, US',
 '200 Clarendon Street, 37th Floor, Boston, MA 02116, US',
 '100 Domain Drive, Exeter, NH 03833, US',
 '21925 W. Field Parkway, Suite 235, Deer Park, IL, 60010, US',
 '26 Technology Drive, Irvine, CA 92618, US',
 '455 Mission Bay Boulevard South, Suite 545, San Francisco, CA 94158, US',
 '5301 Southwest Parkway, Suite 200 Austin, TX 78735, US',
 '610 Main Street, 3rd Floor, Cambridge, MA 02139, US',
 '7171 Southwest Parkway, Building 400, Austin, TX 78735, US',
 '400 Crossing Boulevard, Bridgewater, NJ 08807, US',
 '1 Great Valley Parkway, Suite 30, Malvern, PA 19355, US',
 '471 El Camino Real, Suite 101, Santa Clara, CA 95050, US',
 '50 Hawthorne Street, San Francisco, CA 94105, US',
 '2223 Avenida de la Playa, Suite 108, La Jolla, CA 92037, US',
 '210 East Grand Avenue, South San Francisco, CA 94080, US',
 '2929 Walnut Street, Philadelphia, PA, 19104, US',
 '800 West El Camino Real, Suite 350, Mountain View, CA 94040, US',
 '505 Penobscot Drive, Redwood City, CA 94063, US',
 '2631 Hanover Street, Palo Alto, CA 94304, US',
 '441 Logue Avenue, Mountain View, CA 94043, US',
 '5 Science Park, 395 Winchester Ave., New Haven, CT 06511, US',
 '2070 Las Palmas Drive, Carlsbad, CA 92011, US']

In [328]:
df7_.to_csv('IPOdataUS.csv')

In [398]:
import numpy as np
# volume = list(df7_.volume)
volume = np.array(df7_.volume)
volume

array(['$93.8 mil', '$1160.0 mil', '$648.0 mil', '$50.0 mil',
       '$187.5 mil', '$588.9 mil', '$175.0 mil', '$60.1 mil',
       '$525.0 mil', '$82.5 mil', '$162.0 mil', '$390.0 mil',
       '$1346.4 mil', '$569.8 mil', '$64.0 mil', '$182.0 mil',
       '$355.2 mil', '$110.0 mil', '$168.0 mil', '$325.5 mil',
       '$72.0 mil', '$167.2 mil', '$89.2 mil', '$300.0 mil', '$348.5 mil',
       '$557.1 mil', '$90.0 mil', '$1400.0 mil', '$69.6 mil', '$92.0 mil',
       '$125.0 mil', '$134.7 mil', '$125.0 mil', '$1023.0 mil',
       '$36.0 mil', '$50.0 mil', '$665.0 mil', '$2898.0 mil',
       '$168.8 mil', '$76.5 mil', '$40.0 mil', '$39.3 mil', '$71.4 mil',
       '$75.0 mil', '$106.3 mil', '$75.0 mil', '$500.0 mil', '$55.0 mil',
       '$27.0 mil', '$352.0 mil', '$240.6 mil', '$91.0 mil', '$261.0 mil',
       '$102.0 mil', '$84.0 mil', '$1425.0 mil', '$751.3 mil',
       '$166.5 mil', '$217.7 mil', '$6.0 mil', '$120.0 mil', '$623.3 mil',
       '$96.9 mil', '$75.0 mil', '$25.0 mil', '$7.0 mil', '$70.0 mil',
       '$75.0 mil', '$75.6 mil', '$175.8 mil', '$280.0 mil', '$604.3 mil',
       '$131.0 mil', '$24.0 mil', '$151.9 mil', '$56.0 mil', '$21.6 mil',
       '$120.0 mil', '$70.0 mil', '$288.0 mil', '$70.0 mil', '$387.5 mil',
       '$46.6 mil', '$46.0 mil', '$108.0 mil', '$248.0 mil', '$65.4 mil',
       '$324.0 mil', '$340.0 mil', '$252.0 mil', '$237.5 mil',
       '$90.0 mil', '$187.2 mil', '$120.0 mil', '$66.3 mil'], dtype=object)

In [399]:
volume_n = []
for v in volume:
    #print(v[1:-4])
    volume_n.append(float(v[1:-4]))
volume_n

[93.8,
 1160.0,
 648.0,
 50.0,
 187.5,
 588.9,
 175.0,
 60.1,
 525.0,
 82.5,
 162.0,
 390.0,
 1346.4,
 569.8,
 64.0,
 182.0,
 355.2,
 110.0,
 168.0,
 325.5,
 72.0,
 167.2,
 89.2,
 300.0,
 348.5,
 557.1,
 90.0,
 1400.0,
 69.6,
 92.0,
 125.0,
 134.7,
 125.0,
 1023.0,
 36.0,
 50.0,
 665.0,
 2898.0,
 168.8,
 76.5,
 40.0,
 39.3,
 71.4,
 75.0,
 106.3,
 75.0,
 500.0,
 55.0,
 27.0,
 352.0,
 240.6,
 91.0,
 261.0,
 102.0,
 84.0,
 1425.0,
 751.3,
 166.5,
 217.7,
 6.0,
 120.0,
 623.3,
 96.9,
 75.0,
 25.0,
 7.0,
 70.0,
 75.0,
 75.6,
 175.8,
 280.0,
 604.3,
 131.0,
 24.0,
 151.9,
 56.0,
 21.6,
 120.0,
 70.0,
 288.0,
 70.0,
 387.5,
 46.6,
 46.0,
 108.0,
 248.0,
 65.4,
 324.0,
 340.0,
 252.0,
 237.5,
 90.0,
 187.2,
 120.0,
 66.3]

In [400]:
df7_["volume_n"] = volume_n

In [401]:
price = np.array(df7_.price)

price_n = []
for v in price:
    price_n.append(float(v[1:]))
    
df7_["price_n"] = price_n
df7_.dtypes

Company           object
Symbol            object
Industry          object
date              object
shares           float64
price             object
close             object
current_price     object
return            object
SCOOP Rating      object
address           object
price_range       object
volume            object
country           object
state             object
volume_n         float64
price_n          float64
dtype: object

In [402]:
df7_.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,SCOOP Rating,address,price_range,volume,country,state,volume_n,price_n
0,Oportun Financial,OPRT,Financials,9/26/2019,6.3,$15.00,$16.17,$16.17,7.80%,S/O,"2 Circle Star Way, San Carlos, CA 94070, US",$15.00 - $15.00,$93.8 mil,US,CA,93.8,15.0
1,Peloton Interactive,PTON,Consumer Services,9/26/2019,40.0,$29.00,$25.76,$25.76,-11.17%,S/O,"125 West 25th Street, 11th Floor, New York, NY...",$29.00 - $29.00,$1160.0 mil,US,NY,1160.0,29.0
2,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$32.44,20.15%,S/O,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil,US,NY,648.0,27.0
3,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.58,4.14%,S/O,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil,US,CA,50.0,14.0
4,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$17.04,13.60%,S/O,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil,US,CO,187.5,15.0

In [341]:
# df7_.astype({'price': 'float64'}).dtypes

In [418]:
df7_.to_csv('IPOdataUSCleanVolume.csv')

In [421]:
# calculate information per states
del IPOdata_state_df
IPOdata_state_df = pd.DataFrame(df7_.groupby("state").agg(
    {
        "Company":  "count",
         "shares":   ["sum", "mean"],
         "price_n":  "mean",
         "volume_n": "sum"
    })
)
IPOdata_state_df

      Company shares               price_n volume_n
        count    sum       mean       mean      sum
state
CA         41  498.2  12.151220  17.829268   9442.3
CO          1   12.5  12.500000  15.000000    187.5
CT          3   22.0   7.333333  14.666667    337.0
DE          1   70.0  70.000000  20.000000   1400.0
FL          2   52.5  26.250000  19.500000   1125.0
IL          2    9.4   4.700000   9.000000     91.2
LA          1    0.6   0.600000  45.000000     27.0
MA         12  116.8   9.733333  16.354167   2029.6
MD          1    5.0   5.000000  15.000000     75.0
ND          1    2.9   2.900000  21.000000     60.1
NH          1    4.0   4.000000  14.000000     56.0
NJ          2   14.6   7.300000  10.500000    156.6
NV          1   22.0  22.000000  16.000000    352.0
NY         10  120.1  12.010000  16.160000   2623.7
PA          3  236.2  78.733333  12.000000   3284.0
TN          2  101.4  50.700000  18.000000   1903.5
TX          6  111.5  18.583333  16.083333   1833.5
UT          1    7.0   7.000000  26.000000    182.0
VA          1    0.2   0.200000  10.000000     24.0
VI          1   18.5  18.500000  27.000000    500.0
WA          1   15.0  15.000000  20.000000    300.0
WS          1    6.3   6.300000  17.000000    106.3

In [422]:
IPOdata_state_df.reset_index(inplace = True)

In [423]:
IPOdata_state_df

   state Company shares               price_n volume_n
           count    sum       mean       mean      sum
0     CA      41  498.2  12.151220  17.829268   9442.3
1     CO       1   12.5  12.500000  15.000000    187.5
2     CT       3   22.0   7.333333  14.666667    337.0
3     DE       1   70.0  70.000000  20.000000   1400.0
4     FL       2   52.5  26.250000  19.500000   1125.0
5     IL       2    9.4   4.700000   9.000000     91.2
6     LA       1    0.6   0.600000  45.000000     27.0
7     MA      12  116.8   9.733333  16.354167   2029.6
8     MD       1    5.0   5.000000  15.000000     75.0
9     ND       1    2.9   2.900000  21.000000     60.1
10    NH       1    4.0   4.000000  14.000000     56.0
11    NJ       2   14.6   7.300000  10.500000    156.6
12    NV       1   22.0  22.000000  16.000000    352.0
13    NY      10  120.1  12.010000  16.160000   2623.7
14    PA       3  236.2  78.733333  12.000000   3284.0
15    TN       2  101.4  50.700000  18.000000   1903.5
16    TX       6  111.5  18.583333  16.083333   1833.5
17    UT       1    7.0   7.000000  26.000000    182.0
18    VA       1    0.2   0.200000  10.000000     24.0
19    VI       1   18.5  18.500000  27.000000    500.0
20    WA       1   15.0  15.000000  20.000000    300.0
21    WS       1    6.3   6.300000  17.000000    106.3

In [404]:
IPOdata_state_df.count

<bound method DataFrame.count of       Company shares               price_n volume_n
        count    sum       mean       mean      sum
state
CA         41  498.2  12.151220  17.829268   9442.3
CO          1   12.5  12.500000  15.000000    187.5
CT          3   22.0   7.333333  14.666667    337.0
DE          1   70.0  70.000000  20.000000   1400.0
FL          2   52.5  26.250000  19.500000   1125.0
IL          2    9.4   4.700000   9.000000     91.2
LA          1    0.6   0.600000  45.000000     27.0
MA         12  116.8   9.733333  16.354167   2029.6
MD          1    5.0   5.000000  15.000000     75.0
ND          1    2.9   2.900000  21.000000     60.1
NH          1    4.0   4.000000  14.000000     56.0
NJ          2   14.6   7.300000  10.500000    156.6
NV          1   22.0  22.000000  16.000000    352.0
NY         10  120.1  12.010000  16.160000   2623.7
PA          3  236.2  78.733333  12.000000   3284.0
TN          2  101.4  50.700000  18.000000   1903.5
TX          6  111.5  18.583333  16.083333   1833.5
UT          1    7.0   7.000000  26.000000    182.0
VA          1    0.2   0.200000  10.000000     24.0
VI          1   18.5  18.500000  27.000000    500.0
WA          1   15.0  15.000000  20.000000    300.0
WS          1    6.3   6.300000  17.000000    106.3>

In [405]:
import numpy as np
print(cnt)
counter = []
for i in range(22):
    counter.append(i)
counter

Company   count    22
shares    sum      22
          mean     22
price_n   mean     22
volume_n  sum      22
dtype: int64

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [420]:
IPOdata_state_df["counter"] = counter
IPOdata_state_df

   state Company shares               price_n volume_n counter
           count    sum       mean       mean      sum
0     CA      41  498.2  12.151220  17.829268   9442.3       0
1     CO       1   12.5  12.500000  15.000000    187.5       1
2     CT       3   22.0   7.333333  14.666667    337.0       2
3     DE       1   70.0  70.000000  20.000000   1400.0       3
4     FL       2   52.5  26.250000  19.500000   1125.0       4
5     IL       2    9.4   4.700000   9.000000     91.2       5
6     LA       1    0.6   0.600000  45.000000     27.0       6
7     MA      12  116.8   9.733333  16.354167   2029.6       7
8     MD       1    5.0   5.000000  15.000000     75.0       8
9     ND       1    2.9   2.900000  21.000000     60.1       9
10    NH       1    4.0   4.000000  14.000000     56.0      10
11    NJ       2   14.6   7.300000  10.500000    156.6      11
12    NV       1   22.0  22.000000  16.000000    352.0      12
13    NY      10  120.1  12.010000  16.160000   2623.7      13
14    PA       3  236.2  78.733333  12.000000   3284.0      14
15    TN       2  101.4  50.700000  18.000000   1903.5      15
16    TX       6  111.5  18.583333  16.083333   1833.5      16
17    UT       1    7.0   7.000000  26.000000    182.0      17
18    VA       1    0.2   0.200000  10.000000     24.0      18
19    VI       1   18.5  18.500000  27.000000    500.0      19
20    WA       1   15.0  15.000000  20.000000    300.0      20
21    WS       1    6.3   6.300000  17.000000    106.3      21

In [407]:
IPO = pd.DataFrame(IPOdata_state_df)
IPO

      Company shares               price_n volume_n counter
        count    sum       mean       mean      sum
state
CA         41  498.2  12.151220  17.829268   9442.3       0
CO          1   12.5  12.500000  15.000000    187.5       1
CT          3   22.0   7.333333  14.666667    337.0       2
DE          1   70.0  70.000000  20.000000   1400.0       3
FL          2   52.5  26.250000  19.500000   1125.0       4
IL          2    9.4   4.700000   9.000000     91.2       5
LA          1    0.6   0.600000  45.000000     27.0       6
MA         12  116.8   9.733333  16.354167   2029.6       7
MD          1    5.0   5.000000  15.000000     75.0       8
ND          1    2.9   2.900000  21.000000     60.1       9
NH          1    4.0   4.000000  14.000000     56.0      10
NJ          2   14.6   7.300000  10.500000    156.6      11
NV          1   22.0  22.000000  16.000000    352.0      12
NY         10  120.1  12.010000  16.160000   2623.7      13
PA          3  236.2  78.733333  12.000000   3284.0      14
TN          2  101.4  50.700000  18.000000   1903.5      15
TX          6  111.5  18.583333  16.083333   1833.5      16
UT          1    7.0   7.000000  26.000000    182.0      17
VA          1    0.2   0.200000  10.000000     24.0      18
VI          1   18.5  18.500000  27.000000    500.0      19
WA          1   15.0  15.000000  20.000000    300.0      20
WS          1    6.3   6.300000  17.000000    106.3      21

In [408]:
IPO.reset_index(inplace = True)

In [409]:
IPO

   state Company shares               price_n volume_n counter
           count    sum       mean       mean      sum
0     CA      41  498.2  12.151220  17.829268   9442.3       0
1     CO       1   12.5  12.500000  15.000000    187.5       1
2     CT       3   22.0   7.333333  14.666667    337.0       2
3     DE       1   70.0  70.000000  20.000000   1400.0       3
4     FL       2   52.5  26.250000  19.500000   1125.0       4
5     IL       2    9.4   4.700000   9.000000     91.2       5
6     LA       1    0.6   0.600000  45.000000     27.0       6
7     MA      12  116.8   9.733333  16.354167   2029.6       7
8     MD       1    5.0   5.000000  15.000000     75.0       8
9     ND       1    2.9   2.900000  21.000000     60.1       9
10    NH       1    4.0   4.000000  14.000000     56.0      10
11    NJ       2   14.6   7.300000  10.500000    156.6      11
12    NV       1   22.0  22.000000  16.000000    352.0      12
13    NY      10  120.1  12.010000  16.160000   2623.7      13
14    PA       3  236.2  78.733333  12.000000   3284.0      14
15    TN       2  101.4  50.700000  18.000000   1903.5      15
16    TX       6  111.5  18.583333  16.083333   1833.5      16
17    UT       1    7.0   7.000000  26.000000    182.0      17
18    VA       1    0.2   0.200000  10.000000     24.0      18
19    VI       1   18.5  18.500000  27.000000    500.0      19
20    WA       1   15.0  15.000000  20.000000    300.0      20
21    WS       1    6.3   6.300000  17.000000    106.3      21

In [357]:
IPOdata_state_df.keys().tolist()
# IPOdata_state_df.columns.tolist()

[('Company', 'count'),
 ('shares', 'sum'),
 ('shares', 'mean'),
 ('price_n', 'mean'),
 ('volume_n', 'sum')]

In [365]:
# IPOdata_state_df = IPOdata_state_df.rename(columns={
#     ('Company count'): "Company_count", "sum": "shares_sum", "shares mean": "shares_mean", "price_n mean": "price_mean", "volume_n sum": "volume_sum"
# })
# IPOdata_state_df

In [419]:
IPOdata_state_df.to_csv('IPOdataState.csv')

In [417]:
IPO.to_csv('IPOdataState.csv')

In [498]:
# calculate information per industries
del IPOdata_indstr_df
IPOdata_indstr_df = pd.DataFrame(df7_.groupby("Industry").agg(
    {
        "Company":  "count",
         "shares":   ["sum", "mean"],
         "price_n":  "mean",
         "volume_n": "sum"
    })
)
IPOdata_indstr_df

                   Company shares               price_n volume_n
                     count    sum       mean       mean      sum
Industry
Basic Materials          1   20.0  20.000000  17.000000    340.0
Consumer Goods           6  118.4  19.733333  18.166667   2312.9
Consumer Services        4   65.6  16.400000  17.500000   1520.2
Financials               8   99.9  12.487500  20.281250   1943.3
Health Care             53  665.3  12.552830  15.539623  11074.3
Industrials              1    6.3   6.300000  17.000000    106.3
Oil & Gas                3   72.5  24.166667  16.500000   1206.0
Technology              17  389.3  22.900000  20.823529   7484.4
Telecommunications       2    9.4   4.700000  11.500000    108.9

In [499]:
IPOdata_indstr_df.to_csv('IPOdataIndustry.csv')

In [415]:
# File to Load, additional data by state (income, poverty, age)
# state_data_to_load = "data/data.csv"
state_data = pd.read_csv("data/data.csv")
state_data.head()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh
0,1,Alabama,AL,19.3,0.5,38.6,0.2,42830,598,13.9,12.7,15.1,33.5,32.1,35.0,21.1,19.8,22.5
1,2,Alaska,AK,11.2,0.9,33.3,0.3,71583,1784,15.0,13.3,16.6,29.7,27.8,31.6,19.9,18.2,21.6
2,4,Arizona,AZ,18.2,0.4,36.9,0.1,50068,483,14.4,13.3,15.6,28.9,27.7,30.2,16.5,15.4,17.6
3,5,Arkansas,AR,18.9,0.5,37.8,0.2,41262,653,16.3,14.4,18.2,35.9,33.8,38.0,24.7,22.7,26.7
4,6,California,CA,16.4,0.2,36.0,0.1,61933,238,14.8,13.8,15.8,24.7,23.5,25.9,12.9,11.9,13.8
5,8,Colorado,CO,12.0,0.4,36.3,0.1,61303,487,12.8,11.9,13.6,21.3,20.4,22.2,15.7,14.8,16.6
6,9,Connecticut,CT,10.8,0.5,40.5,0.2,70048,828,8.7,7.6,9.7,26.3,24.8,27.7,15.4,14.2,16.7
7,10,Delaware,DE,12.5,0.9,39.6,0.3,59716,1674,8.7,7.4,9.9,30.7,28.6,32.7,19.9,17.9,21.8
8,11,Washington D.C.,DC,17.7,1.2,33.8,0.2,71648,1996,8.3,6.3,10.3,21.7,19.5,23.9,16.4,14.2,18.6
9,12,Florida,FL,16.5,0.3,41.6,0.1,47463,329,17.6,16.4,18.8,26.2,25.0,27.5,17.7,16.5,18.8

In [469]:
state_data

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh
0,1,Alabama,AL,19.3,0.5,38.6,0.2,42830,598,13.9,12.7,15.1,33.5,32.1,35.0,21.1,19.8,22.5
1,2,Alaska,AK,11.2,0.9,33.3,0.3,71583,1784,15.0,13.3,16.6,29.7,27.8,31.6,19.9,18.2,21.6
2,4,Arizona,AZ,18.2,0.4,36.9,0.1,50068,483,14.4,13.3,15.6,28.9,27.7,30.2,16.5,15.4,17.6
3,5,Arkansas,AR,18.9,0.5,37.8,0.2,41262,653,16.3,14.4,18.2,35.9,33.8,38.0,24.7,22.7,26.7
4,6,California,CA,16.4,0.2,36.0,0.1,61933,238,14.8,13.8,15.8,24.7,23.5,25.9,12.9,11.9,13.8
5,8,Colorado,CO,12.0,0.4,36.3,0.1,61303,487,12.8,11.9,13.6,21.3,20.4,22.2,15.7,14.8,16.6
6,9,Connecticut,CT,10.8,0.5,40.5,0.2,70048,828,8.7,7.6,9.7,26.3,24.8,27.7,15.4,14.2,16.7
7,10,Delaware,DE,12.5,0.9,39.6,0.3,59716,1674,8.7,7.4,9.9,30.7,28.6,32.7,19.9,17.9,21.8
8,11,Washington D.C.,DC,17.7,1.2,33.8,0.2,71648,1996,8.3,6.3,10.3,21.7,19.5,23.9,16.4,14.2,18.6
9,12,Florida,FL,16.5,0.3,41.6,0.1,47463,329,17.6,16.4,18.8,26.2,25.0,27.5,17.7,16.5,18.8
10,13,Georgia,GA,18.3,0.4,36.1,0.1,49321,543,20.9,19.3,22.5,30.5,28.9,32.1,17.4,15.9,18.8
11,15,Hawaii,HI,11.4,0.8,38.1,0.2,69592,1456,8.1,7.1,9.0,22.1,20.7,23.5,14.1,13.0,15.3
12,16,Idaho,ID,14.8,0.7,35.9,0.2,47861,1275,16.5,15.0,18.1,28.9,27.1,30.8,15.9,14.4,17.4
13,17,Illinois,IL,14.4,0.3,37.5,0.2,57444,429,11.9,10.5,13.3,29.3,27.6,31.1,16.5,15.1,18.0
14,18,Indiana,IN,15.2,0.4,37.4,0.2,49446,487,14.8,13.8,15.8,32.7,31.5,33.9,22.9,21.8,24.1
15,19,Iowa,IA,12.2,0.5,38.2,0.1,53712,761,7.7,6.8,8.6,30.9,29.6,32.3,18.5,17.3,19.7
16,20,Kansas,KS,13.6,0.5,36.2,0.1,52504,706,14.5,13.7,15.3,31.3,30.3,32.2,18.1,17.2,18.9
17,21,Kentucky,KY,19.1,0.5,38.5,0.2,42958,697,10.0,8.8,11.1,31.6,30.2,33.1,26.2,24.7,27.7
18,22,Louisiana,LA,19.8,0.5,36.1,0.1,44555,738,18.7,17.4,20.0,34.9,33.4,36.4,24.0,22.6,25.4
19,23,Maine,ME,14.1,0.7,44.1,0.2,49462,1112,11.0,10.0,12.0,28.2,26.9,29.5,19.3,18.1,20.5
20,24,Maryland,MD,10.1,0.4,38.3,0.1,73971,867,9.2,8.0,10.4,29.6,28.1,31.1,14.6,13.4,15.9
21,25,Massachusetts,MA,11.6,0.3,39.4,0.2,69160,957,4.6,4.0,5.2,23.3,22.3,24.4,14.7,13.7,15.7
22,26,Michigan,MI,16.2,0.3,39.6,0.1,49847,385,10.3,9.3,11.2,30.7,29.4,32.0,21.2,20.0,22.5
23,27,Minnesota,MN,11.5,0.4,37.8,0.1,61481,471,7.3,6.7,7.9,27.6,26.8,28.5,16.3,15.6,17.0
24,28,Mississippi,MS,21.5,0.6,36.7,0.2,39680,773,18.8,17.0,20.7,35.5,33.4,37.6,23.0,21.0,24.9
25,29,Missouri,MO,15.5,0.4,38.5,0.1,48363,567,12.9,11.6,14.3,30.2,28.6,31.9,20.6,19.2,22.1
26,30,Montana,MT,15.4,0.8,39.6,0.3,46328,1217,12.9,11.6,14.1,26.4,24.9,27.9,19.9,18.5,21.4
27,31,Nebraska,NE,12.4,0.5,36.2,0.2,52686,688,12.4,11.5,13.2,30.2,29.2,31.2,17.3,16.5,18.2
28,32,Nevada,NV,15.2,0.7,37.4,0.2,51450,683,17.1,15.0,19.3,27.7,25.3,30.1,17.0,15.0,19.0
29,33,New Hampshire,NH,9.2,0.6,42.5,0.3,66532,1297,11.4,10.1,12.7,27.4,25.8,29.1,17.5,16.0,19.0
30,34,New Jersey,NJ,11.1,0.3,39.4,0.2,71919,438,12.5,11.5,13.4,26.9,25.7,28.1,15.1,14.1,16.1
31,35,New Mexico,NM,21.3,0.9,37.2,0.2,44803,849,15.4,14.1,16.8,28.4,26.9,30.0,19.2,17.7,20.6
32,36,New York,NY,15.9,0.3,38.2,0.1,58878,393,12.3,11.1,13.4,27.0,25.6,28.4,14.4,13.3,15.5
33,37,North Carolina,NC,17.2,0.3,38.3,0.1,46556,381,16.1,15.1,17.2,29.7,28.4,31.0,19.1,17.9,20.3
34,38,North Dakota,ND,11.5,0.9,35.1,0.2,59029,1681,8.8,7.6,10.0,32.2,30.5,33.9,19.9,18.4,21.5
35,39,Ohio,OH,15.8,0.3,39.4,0.1,49308,363,10.2,9.2,11.3,32.6,31.2,34.1,21.0,19.7,22.3
36,40,Oklahoma,OK,16.6,0.4,36.2,0.2,47529,454,13.9,12.9,15.0,33.0,31.6,34.3,21.1,19.9,22.3
37,41,Oregon,OR,16.6,0.5,39.3,0.2,51075,490,11.0,9.7,12.4,27.9,26.2,29.6,17.0,15.5,18.4
38,42,Pennsylvania,PA,13.6,0.3,40.7,0.1,53234,420,10.1,9.2,11.1,30.2,28.9,31.4,19.9,18.8,21.1
39,44,Rhode Island,RI,14.3,0.9,39.8,0.3,54891,1488,8.0,6.8,9.2,27.0,25.4,28.6,16.3,14.8,17.7
40,45,South Carolina,SC,18.0,0.5,38.8,0.1,45238,507,17.1,16.0,18.2,32.1,30.9,33.3,21.5,20.4,22.7
41,46,South Dakota,SD,14.2,0.7,36.6,0.3,50979,1027,9.9,8.4,11.4,29.8,27.9,31.8,18.6,16.9,20.2
42,47,Tennessee,TN,18.3,0.4,38.6,0.1,44361,561,14.2,12.6,15.9,31.2,29.3,33.1,24.2,22.3,26.1
43,48,Texas,TX,17.2,0.2,34.3,0.1,53035,377,24.9,23.7,26.1,31.9,30.6,33.3,14.5,13.6,15.5
44,49,Utah,UT,11.7,0.6,30.5,0.1,60922,658,13.9,13.2,14.6,25.7,24.9,26.6,9.7,9.0,10.3
45,50,Vermont,VT,12.2,0.8,42.8,0.3,54166,1724,6.7,5.9,7.5,24.8,23.5,26.1,16.4,15.2,17.6
46,51,Virginia,VA,11.8,0.3,37.7,0.1,64902,624,13.1,12.0,14.1,28.5,27.2,29.7,19.5,18.4,20.7
47,53,Washington,WA,13.2,0.4,37.5,0.1,61366,485,10.7,9.7,11.8,27.3,26.0,28.5,15.3,14.3,16.4
48,54,West Virginia,WV,18.3,0.7,41.9,0.2,41059,651,10.1,9.1,11.2,35.7,34.2,37.2,26.7,25.2,28.1
49,55,Wisconsin,WI,13.2,0.4,39.2,0.2,52622,433,8.5,7.4,9.7,31.2,29.6,32.8,17.4,16.0,18.7
50,56,Wyoming,WY,11.2,0.9,36.6,0.4,57055,1983,15.1,13.3,16.9,29.5,27.4,31.5,19.5,17.6,21.4

In [424]:
IPOdata_state_df

   state Company shares               price_n volume_n
           count    sum       mean       mean      sum
0     CA      41  498.2  12.151220  17.829268   9442.3
1     CO       1   12.5  12.500000  15.000000    187.5
2     CT       3   22.0   7.333333  14.666667    337.0
3     DE       1   70.0  70.000000  20.000000   1400.0
4     FL       2   52.5  26.250000  19.500000   1125.0
5     IL       2    9.4   4.700000   9.000000     91.2
6     LA       1    0.6   0.600000  45.000000     27.0
7     MA      12  116.8   9.733333  16.354167   2029.6
8     MD       1    5.0   5.000000  15.000000     75.0
9     ND       1    2.9   2.900000  21.000000     60.1
10    NH       1    4.0   4.000000  14.000000     56.0
11    NJ       2   14.6   7.300000  10.500000    156.6
12    NV       1   22.0  22.000000  16.000000    352.0
13    NY      10  120.1  12.010000  16.160000   2623.7
14    PA       3  236.2  78.733333  12.000000   3284.0
15    TN       2  101.4  50.700000  18.000000   1903.5
16    TX       6  111.5  18.583333  16.083333   1833.5
17    UT       1    7.0   7.000000  26.000000    182.0
18    VA       1    0.2   0.200000  10.000000     24.0
19    VI       1   18.5  18.500000  27.000000    500.0
20    WA       1   15.0  15.000000  20.000000    300.0
21    WS       1    6.3   6.300000  17.000000    106.3

In [476]:
IPOdata_state_df.columns = ['abbr','company_count','shares_sum','shares_mean','price_mean','volume_sum']
IPOdata_state_df

   abbr  company_count  shares_sum  shares_mean  price_mean  volume_sum
0    CA             41       498.2    12.151220   17.829268      9442.3
1    CO              1        12.5    12.500000   15.000000       187.5
2    CT              3        22.0     7.333333   14.666667       337.0
3    DE              1        70.0    70.000000   20.000000      1400.0
4    FL              2        52.5    26.250000   19.500000      1125.0
5    IL              2         9.4     4.700000    9.000000        91.2
6    LA              1         0.6     0.600000   45.000000        27.0
7    MA             12       116.8     9.733333   16.354167      2029.6
8    MD              1         5.0     5.000000   15.000000        75.0
9    ND              1         2.9     2.900000   21.000000        60.1
10   NH              1         4.0     4.000000   14.000000        56.0
11   NJ              2        14.6     7.300000   10.500000       156.6
12   NV              1        22.0    22.000000   16.000000       352.0
13   NY             10       120.1    12.010000   16.160000      2623.7
14   PA              3       236.2    78.733333   12.000000      3284.0
15   TN              2       101.4    50.700000   18.000000      1903.5
16   TX              6       111.5    18.583333   16.083333      1833.5
17   UT              1         7.0     7.000000   26.000000       182.0
18   VA              1         0.2     0.200000   10.000000        24.0
19   VI              1        18.5    18.500000   27.000000       500.0
20   WA              1        15.0    15.000000   20.000000       300.0
21   WS              1         6.3     6.300000   17.000000       106.3

In [477]:
IPOdata_state_df.dtypes

abbr              object
company_count      int64
shares_sum       float64
shares_mean      float64
price_mean       float64
volume_sum       float64
dtype: object

In [478]:
state_data.dtypes

id                  int64
state              object
abbr               object
poverty           float64
povertyMoe        float64
age               float64
ageMoe            float64
income              int64
incomeMoe           int64
healthcare        float64
healthcareLow     float64
healthcareHigh    float64
obesity           float64
obesityLow        float64
obesityHigh       float64
smokes            float64
smokesLow         float64
smokesHigh        float64
dtype: object

In [480]:
# Combine the data into a single dataset
state_data_complete = pd.merge(IPOdata_state_df, state_data, how="left", on='abbr')
#                                left_on='abbr', right_on='abbr')

In [481]:
state_data_complete

,abbr,company_count,shares_sum,shares_mean,price_mean,volume_sum,id,state,poverty,povertyMoe,...,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh
0,CA,41,498.2,12.151220,17.829268,9442.3,6.0,California,16.4,0.2,...,238.0,14.8,13.8,15.8,24.7,23.5,25.9,12.9,11.9,13.8
1,CO,1,12.5,12.500000,15.000000,187.5,8.0,Colorado,12.0,0.4,...,487.0,12.8,11.9,13.6,21.3,20.4,22.2,15.7,14.8,16.6
2,CT,3,22.0,7.333333,14.666667,337.0,9.0,Connecticut,10.8,0.5,...,828.0,8.7,7.6,9.7,26.3,24.8,27.7,15.4,14.2,16.7
3,DE,1,70.0,70.000000,20.000000,1400.0,10.0,Delaware,12.5,0.9,...,1674.0,8.7,7.4,9.9,30.7,28.6,32.7,19.9,17.9,21.8
4,FL,2,52.5,26.250000,19.500000,1125.0,12.0,Florida,16.5,0.3,...,329.0,17.6,16.4,18.8,26.2,25.0,27.5,17.7,16.5,18.8
5,IL,2,9.4,4.700000,9.000000,91.2,17.0,Illinois,14.4,0.3,...,429.0,11.9,10.5,13.3,29.3,27.6,31.1,16.5,15.1,18.0
6,LA,1,0.6,0.600000,45.000000,27.0,22.0,Louisiana,19.8,0.5,...,738.0,18.7,17.4,20.0,34.9,33.4,36.4,24.0,22.6,25.4
7,MA,12,116.8,9.733333,16.354167,2029.6,25.0,Massachusetts,11.6,0.3,...,957.0,4.6,4.0,5.2,23.3,22.3,24.4,14.7,13.7,15.7
8,MD,1,5.0,5.000000,15.000000,75.0,24.0,Maryland,10.1,0.4,...,867.0,9.2,8.0,10.4,29.6,28.1,31.1,14.6,13.4,15.9
9,ND,1,2.9,2.900000,21.000000,60.1,38.0,North Dakota,11.5,0.9,...,1681.0,8.8,7.6,10.0,32.2,30.5,33.9,19.9,18.4,21.5
10,NH,1,4.0,4.000000,14.000000,56.0,33.0,New Hampshire,9.2,0.6,...,1297.0,11.4,10.1,12.7,27.4,25.8,29.1,17.5,16.0,19.0
11,NJ,2,14.6,7.300000,10.500000,156.6,34.0,New Jersey,11.1,0.3,...,438.0,12.5,11.5,13.4,26.9,25.7,28.1,15.1,14.1,16.1
12,NV,1,22.0,22.000000,16.000000,352.0,32.0,Nevada,15.2,0.7,...,683.0,17.1,15.0,19.3,27.7,25.3,30.1,17.0,15.0,19.0
13,NY,10,120.1,12.010000,16.160000,2623.7,36.0,New York,15.9,0.3,...,393.0,12.3,11.1,13.4,27.0,25.6,28.4,14.4,13.3,15.5
14,PA,3,236.2,78.733333,12.000000,3284.0,42.0,Pennsylvania,13.6,0.3,...,420.0,10.1,9.2,11.1,30.2,28.9,31.4,19.9,18.8,21.1
15,TN,2,101.4,50.700000,18.000000,1903.5,47.0,Tennessee,18.3,0.4,...,561.0,14.2,12.6,15.9,31.2,29.3,33.1,24.2,22.3,26.1
16,TX,6,111.5,18.583333,16.083333,1833.5,48.0,Texas,17.2,0.2,...,377.0,24.9,23.7,26.1,31.9,30.6,33.3,14.5,13.6,15.5
17,UT,1,7.0,7.000000,26.000000,182.0,49.0,Utah,11.7,0.6,...,658.0,13.9,13.2,14.6,25.7,24.9,26.6,9.7,9.0,10.3
18,VA,1,0.2,0.200000,10.000000,24.0,51.0,Virginia,11.8,0.3,...,624.0,13.1,12.0,14.1,28.5,27.2,29.7,19.5,18.4,20.7
19,VI,1,18.5,18.500000,27.000000,500.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,WA,1,15.0,15.000000,20.000000,300.0,53.0,Washington,13.2,0.4,...,485.0,10.7,9.7,11.8,27.3,26.0,28.5,15.3,14.3,16.4
21,WS,1,6.3,6.300000,17.000000,106.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [482]:
state_data_complete.columns

Index(['abbr', 'company_count', 'shares_sum', 'shares_mean', 'price_mean',
       'volume_sum', 'id', 'state', 'poverty', 'povertyMoe', 'age', 'ageMoe',
       'income', 'incomeMoe', 'healthcare', 'healthcareLow', 'healthcareHigh',
       'obesity', 'obesityLow', 'obesityHigh', 'smokes', 'smokesLow',
       'smokesHigh'],
      dtype='object')

In [465]:
# state_data_complete.columns =  ['state_short', 'company_count', 'shares_sum',
#                                 'shares_mean',  'price_mean',  'volume_sum','id',              'state',               'abbr',
#                   'poverty',         'povertyMoe',                'age',
#                    'ageMoe',             'income',          'incomeMoe',
#                'healthcare',      'healthcareLow',     'healthcareHigh',
#                   'obesity',         'obesityLow',        'obesityHigh',
#                    'smokes',          'smokesLow',         'smokesHigh']

In [483]:
IPOdata_state_complete_df = pd.DataFrame(state_data_complete.loc[:,['state', 'abbr', 'company_count', 'volume_sum', 'shares_sum', 'shares_mean', 'price_mean',
                                                                    'poverty', 'income', 'age', 'healthcare', 'obesity', 'smokes']])
IPOdata_state_complete_df

,state,abbr,company_count,volume_sum,shares_sum,shares_mean,price_mean,poverty,income,age,healthcare,obesity,smokes
0,California,CA,41,9442.3,498.2,12.151220,17.829268,16.4,61933.0,36.0,14.8,24.7,12.9
1,Colorado,CO,1,187.5,12.5,12.500000,15.000000,12.0,61303.0,36.3,12.8,21.3,15.7
2,Connecticut,CT,3,337.0,22.0,7.333333,14.666667,10.8,70048.0,40.5,8.7,26.3,15.4
3,Delaware,DE,1,1400.0,70.0,70.000000,20.000000,12.5,59716.0,39.6,8.7,30.7,19.9
4,Florida,FL,2,1125.0,52.5,26.250000,19.500000,16.5,47463.0,41.6,17.6,26.2,17.7
5,Illinois,IL,2,91.2,9.4,4.700000,9.000000,14.4,57444.0,37.5,11.9,29.3,16.5
6,Louisiana,LA,1,27.0,0.6,0.600000,45.000000,19.8,44555.0,36.1,18.7,34.9,24.0
7,Massachusetts,MA,12,2029.6,116.8,9.733333,16.354167,11.6,69160.0,39.4,4.6,23.3,14.7
8,Maryland,MD,1,75.0,5.0,5.000000,15.000000,10.1,73971.0,38.3,9.2,29.6,14.6
9,North Dakota,ND,1,60.1,2.9,2.900000,21.000000,11.5,59029.0,35.1,8.8,32.2,19.9
10,New Hampshire,NH,1,56.0,4.0,4.000000,14.000000,9.2,66532.0,42.5,11.4,27.4,17.5
11,New Jersey,NJ,2,156.6,14.6,7.300000,10.500000,11.1,71919.0,39.4,12.5,26.9,15.1
12,Nevada,NV,1,352.0,22.0,22.000000,16.000000,15.2,51450.0,37.4,17.1,27.7,17.0
13,New York,NY,10,2623.7,120.1,12.010000,16.160000,15.9,58878.0,38.2,12.3,27.0,14.4
14,Pennsylvania,PA,3,3284.0,236.2,78.733333,12.000000,13.6,53234.0,40.7,10.1,30.2,19.9
15,Tennessee,TN,2,1903.5,101.4,50.700000,18.000000,18.3,44361.0,38.6,14.2,31.2,24.2
16,Texas,TX,6,1833.5,111.5,18.583333,16.083333,17.2,53035.0,34.3,24.9,31.9,14.5
17,Utah,UT,1,182.0,7.0,7.000000,26.000000,11.7,60922.0,30.5,13.9,25.7,9.7
18,Virginia,VA,1,24.0,0.2,0.200000,10.000000,11.8,64902.0,37.7,13.1,28.5,19.5
19,NaN,VI,1,500.0,18.5,18.500000,27.000000,NaN,NaN,NaN,NaN,NaN,NaN
20,Washington,WA,1,300.0,15.0,15.000000,20.000000,13.2,61366.0,37.5,10.7,27.3,15.3
21,NaN,WS,1,106.3,6.3,6.300000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [484]:
IPOdata_state_complete_df.to_csv('IPOdataStateComplete.csv')